@import url(default.css); /* default.css 불러오기 */

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url(../fonts/Pretendard-Bold.woff2) format('woff2'), url(../fonts/Pretendard-Bold.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url(../fonts/Pretendard-Regular.woff2) format('woff2'), url(../fonts/Pretendard-Regular.woff) format('woff');
}
html, body {   
    font-family: "Pretendard", sans-serif; /* sans-serif 고딕체라는 의미, font-family 사용하는 서체명은 font-face에 사용한 이름으로 사용 */
    font-size: 15px;
    color: #3d3d3d;
    line-height: 1.4;
    font-weight: 400;
    word-break: keep-all;
}
.wrapper {
    width: 1260px;
    margin: 0 auto;    
}
.aseset h1 {
    font-size: 60px;
    font-weight: 700;
    color: #1d1d1d;
    line-height: 1.2;
    letter-spacing: -0.02em;
    margin: 190px 0 20px 0;
}
.aseset ul {
    margin: 45px 0 0 0;
}
.aseset ul li {
    width: 404px;
    height: 256px;
    background-color: #f4f4f4;
    border-radius: 20px;
    padding: 80px 0 0 30px;
    float: left;
    margin-right: 24px;
}
.aseset ul li:last-child {
    margin-right: 0px
}
.aseset ul li p {
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

.clearfix:after{display:block;clear:both;content:".";visibility:hidden;height:0;}
.clearfix{display:block;}

.core {
    margin: 130px 0 200px 0;
}
.core .photo {
    float: left;
}
.core .txt {
    float: left;
    margin: 88px 0 0 45px;
}
.txt h1 {
    color: #376ebb;
}
.txt p {
    font-size: 50px;
    font-weight: 700;
    color: #1d1d1d;
    line-height: 1.2;
    letter-spacing: -0.02em;
}
.core .photo img {
    border-radius: 20px;
}