@import url(default.css); /* default.css 불러오기 */

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url(../fonts/Pretendard-Bold.woff2) format('woff2'), url(../fonts/Pretendard-Bold.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url(../fonts/Pretendard-Regular.woff2) format('woff2'), url(../fonts/Pretendard-Regular.woff) format('woff');
}
html, body {   
    font-family: "Pretendard", sans-serif; /* sans-serif 고딕체라는 의미, font-family 사용하는 서체명은 font-face에 사용한 이름으로 사용 */
    font-size: 15px;
    color: #3d3d3d;
    line-height: 1.4;
    font-weight: 400;
    word-break: keep-all;
}
.wrapper {
    width: 1260px;
    margin: 0 auto;    
}
.aseset h1 {
    color: #1d1d1d;
    font-size: 60pt;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.02em;
    margin: 200px 0 10px 0;
}
.aseset ul {
    display: flex;
    justify-content: space-between;
    margin: 50px 0 0 0;
    /* 
        ul태그에 flex를 주면 그 자식(바로 아래있는 태그)에만 좌우로 정렬되는 속성이 적용됨
        <div>
             <ul>
                <li></li>
                <li></li>
                <li></li>
             </ul>
        </div>
    */
}
.aseset ul li {
    width: 404px;
    height: 256px;
    background-color: #f4f4f4;
    border-radius: 20px;
    padding: 80px 0 0 30px;
}
.aseset ul li p {
    color: #1d1d1d;
    font-size: 40pt;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.02em;
}
.core {
    margin: 145px 0 100px 0;
    display: flex;
}
.core .txt {
    float: left;
    margin: 85px 0 0 50px;
}
.core .txt h1 {
    color: #376ebb;
}
.core .txt p {
    color: #1d1d1d;
    font-size: 40pt;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.02em;
    margin: 20px 0 0 0;
}
.core .photo img {
    border-radius: 20px;
}
.repm h1 {
    margin: 180px 0 64px 0;
    color: #1d1d1d;
    font-size: 40pt;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.02em;
    text-align: center;
}
.repm ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.repm ul li {
    width: 511px;
    height: 422px;
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    line-height: 1.2;
    letter-spacing: -0.02em;
    padding: 310px 0 0 40px;
    border-radius: 20px;
    margin: 0 12px 24px 12px;
}
.repm ul li:nth-child(1) {
    background-image: url(../re/1.png);
}
.repm ul li:nth-child(2) {
    background-image: url(../re/2.png);
}
.repm ul li:nth-child(3) {
    background-image: url(../re/3.png);
}
.repm ul li:nth-child(4) {
    background-image: url(../re/4.png);
}