/* 본고딕을 웹폰트로 선언하는 css 불러오기 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
}
body { 
    font-family: "Noto Sans KR", sans-serif;
}
.wrapper {
    width: 1260px;
    margin: 0 auto;
}
h1 {
    color:#4dc966;
    font-size: 30px;
    font-weight: 400;
    margin: 69px 0 10px 0; /* 위-오른쪽-아래-왼쪽 */
}
p {
    color: #1d1d1d;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -1px;
    word-break: keep-all;
    margin: 0 0 50px 0;
}
.tit {
    font-size: 50px;
    color: #1d1d1d;
    font-weight: 700;
    letter-spacing: -0.05em;
    line-height: 1.2;

}
