@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 900;
    font-style: normal;
    src: url('../fonts/NanumSquareNeoTTF-eHv.eot?#iefix') format('embedded-opentype'),
            url('../fonts/NanumSquareNeoTTF-eHv.woff2') format('woff2'),
            url('../fonts/NanumSquareNeoTTF-eHv.woff') format('woff');
    font-display: swap;
} 
@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/NanumSquareNeoTTF-bRg.eot?#iefix') format('embedded-opentype'),
            url('../fonts/NanumSquareNeoTTF-bRg.woff2') format('woff2'),
            url('../fonts/NanumSquareNeoTTF-bRg.woff') format('woff');
    font-display: swap;
} 