@import url(default.css);
@import url(fonts.css);

/* 글자의 스타일은 상속받음, 기본글자의 스타일은 모든 태그를 감싸는 html과 body에 선언 */
html, body{
    font-family: 'NanumSquareNeo', sans-serif; font-weight:400; 
    font-weight:400; 
    font-size: 15px;
    line-height: 1.3;
    letter-spacing: 0em;
    color: #3d3d3d;
    word-break: keep-all;/* 단어별로 줄바꿈 */
}
#wrap{ /* 홈페이지 전체를 감싸는 요소 - 가로 스크롤바가 생겼을때 짤리는 현상 막음, #=id */
    min-width: 1260px;
}
.wrapper {/* 홈페이지 넓이 제한, 가운데 정렬 */
    width: 1260px;
    margin: 0px auto; /* 가운데 정렬 */
}
.community .wrapper {
    display: flex;
    justify-content: space-between;
}
.community .colgroup1 .rowgroup1 {
    display: flex;
    justify-content: space-between;
    margin: 0 0 24px 0;
}
.community .colgroup2 .rowgroup2 {
    display: flex;
    justify-content: space-between;
    margin: 24px 0 0 0;
}
.community .text_news {
    width: 297px;
    height: 211px;
    background-color: #f4f4f4;
}
.community .text_news a {
    height: 211px;
}
.community .text_news h2 {
    margin: 0 0 60px 0;
}
.community .text_news.color1 {
    background-color: #2fb157;
    color: #fff;
}
.community .text_news.color1 h2 {
    margin: 0 0 60px 0;
}
.community .text_news.color2 {
    background-color: #6aae27;
    color: #fff;
}
.community .photo_news {
    width: 617px;
    height: 475px;
    background-repeat: no-repeat ;
    background-position: center center;
    background-size: cover;
    color: #fff;
}
.community .photo_news a{
    height: 475px;
    display: flex;
    flex-direction: column; /*세로정렬*/
    justify-content: flex-end;/*하단정렬*/
}
.community .photo_news.bg1 {
    background-image: url(../image/community1.png);
}
.community .photo_news.bg2 {
    background-image: url(../image/community2.png);
}
.community a {
    padding: 24px 30px;
    display: block;
}
.community a h2 {
    font-size: 23px;
    font-weight: 900;
}
.community a .name {
    display: flex;
}
.community a .name span:first-child {
    margin: 0 40px 0 0;
}
