@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local('Pretendard Regular'), url(../fonts/Pretendard-Regular.woff2) format('woff2'), url(../fonts/) format('woff');
}
@font-face {
    font-family: 'Eulyoo1945';
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Eulyoo1945-Regular.woff2) format('woff2'), url(../fonts/Eulyoo1945-Regular.woff) format('woff');
}
@font-face {
    font-family: 'Eulyoo1945';
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/Eulyoo1945-SemiBold.woff2) format('woff2'), url(../fonts/Eulyoo1945-SemiBold.woff) format('woff');
}