@import url(default.css);
@import url(fonts.css);
@import url(common.css);

.visual ul li {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    color: rgba(255, 255, 255, 0.8);
}
.visual ul li.pop_bg1 {
    background-image: url(../images/viual_bg1.png);
}
.visual ul li.pop_bg2 {
    background-image: url(../images/visual_bg2.png);
}
.visual ul li.pop_bg3 {
    background-image: url(../images/visual_bg3.png);
}
.visual ul li strong {
    font-family: 'Eulyoo1945';
    font-size: 100px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.2);
    display: block;
    margin: 344px 0 0 0;
}
.visual ul li h2 {
    font-family: 'Eulyoo1945';
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    margin: -50px 0 0 94px;
}
.visual ul li p {
    font-size: 20px;
    margin: -10px 0 0 205px;
}
.visual .btn_prev,
.visual .btn_next {
    position: absolute; /*swiper 기준으로 들어감*/
    top: 400px;
    z-index: 10;
    width: 100px;
    height: 100px;
    font-size: 0;
    line-height: 0;
}
.visual .btn_prev::before {
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_5_146' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='100' height='100'%3E%3Crect x='100' y='100' width='100' height='100' transform='rotate(-180 100 100)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_5_146)'%3E%3Cpath d='M41.6668 26.4428L65.2241 50.0001L41.6668 73.5574L37.2762 69.1667L56.4429 50.0001L37.2762 30.8334L41.6668 26.4428Z' fill='white' fill-opacity='0.6'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .btn_next::before {
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_5_143' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='100' height='100'%3E%3Crect width='100' height='100' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_5_143)'%3E%3Cpath d='M58.3332 73.5572L34.7759 49.9999L58.3332 26.4426L62.7238 30.8333L43.5571 49.9999L62.7238 69.1666L58.3332 73.5572Z' fill='white' fill-opacity='0.6'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .btn_prev::before,
.visual .btn_next::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    line-height: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.visual .btn_prev {
    right: 1%;
}
.visual .btn_next {
    left: 1%;
}
@media screen and (max-width: 1400px){
    .visual .btn_prev,
    .visual .btn_next{
        display: none;
    }
}
@media screen and (max-width: 640px){
    .visual ul li {
        height: 350px;
    }
    .visual ul li strong {
        font-size: 30px;
        margin: 124px 0 0 0;
    }
    .visual ul li h2 {
        font-size: 20px;
        margin: -15px 0 0 30px;
    }
    .visual ul li p {
        display: none;
    }
}
.book {
    margin: 174px 0 0 0;
}
.book .wrapper { 
    position: relative;
}
.book .tit {
    float: left;/**/

}
.book .tit h2 {
    font-family: 'Eulyoo1945';
    font-size: 60px;
    font-weight: 400;
    color: #1d1d1d;
}
.book .list {
    margin: 0 0 0 330px;
    width: 1260px;
}
.book .list ul li {
    width: 297px;
}
.book .list ul li a .photo {
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}
.book .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.book .list ul li a:hover .photo img {
    transform: scale3d(1.1, 1.1 ,1);
}
.book .list ul li a h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Eulyoo1945';
    font-size: 25px;
    font-weight: 400;
    color: #1d1d1d;
    margin: 15px 0 0 0;
}
.book .list ul li a strong{
    color: #666;
    margin: 11px 0;
    display: block;
    line-height: 1.4;
}
.book .list ul li a p {
    overflow: hidden;
    line-height: 1.4;
    text-overflow: ellipsis;
    display: block;
    height: 42px;
}
.book .more {
    position:absolute;
    top: 227px;
    left: 0;
}
.book .more a {
    padding: 9px 52px 9px 18px;
    display: block;
    color: #666;
    border: 1px solid #999;
    position: relative;
}
.book .more a::after {
    position: absolute;
    right: 10px;
    top: 8px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_5_241' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect x='24' y='24' width='24' height='24' transform='rotate(-180 24 24)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_5_241)'%3E%3Cpath d='M10.0001 6.34631L15.6538 12.0001L10.0001 17.6538L8.94631 16.6001L13.5463 12.0001L8.94631 7.40006L10.0001 6.34631Z' fill='%23666666' fill-opacity='0.6'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
}
.book .more a:hover {
    color: #fff;
    border: 1px solid #E4BEA9;
    background-color: #E4BEA9;
}
.book .more a:hover:after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_5_238' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect x='24' y='24' width='24' height='24' transform='rotate(-180 24 24)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_5_238)'%3E%3Cpath d='M10.0001 6.34631L15.6538 12.0001L10.0001 17.6538L8.94631 16.6001L13.5463 12.0001L8.94631 7.40006L10.0001 6.34631Z' fill='white' fill-opacity='0.6'/%3E%3C/g%3E%3C/svg%3E%0A");
}
@media screen and (max-width: 640px){
    .book {
        margin: 56px 0 0 0;
    }
    .book .tit {
        float: none;/*해제*/
    }
    .book .tit h2 {
        font-size: 30px;
        padding: 0 0 21px 0;
    }
    .book .tit h2 br {
        display: none;
    }
    .book .tit p {
        display: none;
        
    }
    .book .list {
        margin: 0;
        width: auto; /*jepury가 대신 넓이 줌, slidesPerView: "auto",*/
       /* width: calc(100% - 20px); 오른쪽 wrapper 벽까지 list가 나오게 하기 위해서 list한테 100%에 오른쪽 여백 20px를 추가해줌*/
    }
    .book .list ul li {
        width: 152px; 
    }
    .book .list ul li a h3 {
        font-size: 15px;
        margin: 11px 0 0 0;
        overflow: visible;
    }
    .book .list ul li a strong{
        margin: 0;
        font-size: 13px;
    }
    .book .list ul li a p {
        height: 36px;
    }
    .book .more {
        position:absolute;
        top: 5px;
        right: 0;
        left: auto; /*해제*/
        font-size: 0;
        line-height: 0;
    }
    .book .more a {
        padding: 0;
        border: 0;
        width: 30px;
        height: 30px;
    }
    .book .more a::after {
        right: 0;
        top: 1px;
        width: 100%;
        height: 100%;
        background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_9_48' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='31' height='31'%3E%3Crect x='0.5' y='0.5' width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_9_48)'%3E%3Cpath d='M14.5625 21.4375H16.4375V16.4375H21.4375V14.5625H16.4375V9.5625H14.5625V14.5625H9.5625V16.4375H14.5625V21.4375ZM7.13469 26.125C6.50323 26.125 5.96875 25.9062 5.53125 25.4688C5.09375 25.0312 4.875 24.4968 4.875 23.8653V7.13469C4.875 6.50323 5.09375 5.96875 5.53125 5.53125C5.96875 5.09375 6.50323 4.875 7.13469 4.875H23.8653C24.4968 4.875 25.0312 5.09375 25.4688 5.53125C25.9062 5.96875 26.125 6.50323 26.125 7.13469V23.8653C26.125 24.4968 25.9062 25.0312 25.4688 25.4688C25.0312 25.9062 24.4968 26.125 23.8653 26.125H7.13469ZM7.13469 24.25H23.8653C23.9616 24.25 24.0497 24.2099 24.1297 24.1297C24.2099 24.0497 24.25 23.9616 24.25 23.8653V7.13469C24.25 7.03844 24.2099 6.95031 24.1297 6.87031C24.0497 6.7901 23.9616 6.75 23.8653 6.75H7.13469C7.03844 6.75 6.95031 6.7901 6.87031 6.87031C6.7901 6.95031 6.75 7.03844 6.75 7.13469V23.8653C6.75 23.9616 6.7901 24.0497 6.87031 24.1297C6.95031 24.2099 7.03844 24.25 7.13469 24.25Z' fill='%23666666' fill-opacity='0.6'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    .book .more a:hover {
        border-color: transparent;
        background-color: transparent;
    }
    .book .more a:hover:after {
        background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_9_48' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='31' height='31'%3E%3Crect x='0.5' y='0.5' width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_9_48)'%3E%3Cpath d='M14.5625 21.4375H16.4375V16.4375H21.4375V14.5625H16.4375V9.5625H14.5625V14.5625H9.5625V16.4375H14.5625V21.4375ZM7.13469 26.125C6.50323 26.125 5.96875 25.9062 5.53125 25.4688C5.09375 25.0312 4.875 24.4968 4.875 23.8653V7.13469C4.875 6.50323 5.09375 5.96875 5.53125 5.53125C5.96875 5.09375 6.50323 4.875 7.13469 4.875H23.8653C24.4968 4.875 25.0312 5.09375 25.4688 5.53125C25.9062 5.96875 26.125 6.50323 26.125 7.13469V23.8653C26.125 24.4968 25.9062 25.0312 25.4688 25.4688C25.0312 25.9062 24.4968 26.125 23.8653 26.125H7.13469ZM7.13469 24.25H23.8653C23.9616 24.25 24.0497 24.2099 24.1297 24.1297C24.2099 24.0497 24.25 23.9616 24.25 23.8653V7.13469C24.25 7.03844 24.2099 6.95031 24.1297 6.87031C24.0497 6.7901 23.9616 6.75 23.8653 6.75H7.13469C7.03844 6.75 6.95031 6.7901 6.87031 6.87031C6.7901 6.95031 6.75 7.03844 6.75 7.13469V23.8653C6.75 23.9616 6.7901 24.0497 6.87031 24.1297C6.95031 24.2099 7.03844 24.25 7.13469 24.25Z' fill='%23666666' fill-opacity='0.6'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
}
.interview {
    background-color: #E7D5BF;
    margin: 209px 0 0 0;
    padding: 138px 0 770px 0;
}
.interview .wrapper {
    position: relative;
}
.interview .tit {
    text-align: center;
    margin: 0 0 95px 0;
}
.interview .tit h2 {
    font-size: 60px;
    font-family: 'Eulyoo1945';
    font-weight: 400;
    color: #1d1d1d;
}
.interview .tit p {
    margin: 15px 0 19px 0;
}
.interview .list ul {
    display: flex;
    justify-content: space-between;
} 
.interview .list ul li {
    width: 404px;
}
.interview .list ul li:nth-child(2) {
    margin-top: 40px;
}
.interview .list ul li a .photo {
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    border-radius: 70px 0 70px 0;
}
.interview .list ul li:nth-child(2) a .photo {
    border-radius: 0 70px 0 70px;
}
.interview .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    filter: grayscale(100%);
}
.interview .list ul li a:hover .photo img {
    transform: scale3d(1.1, 1.1 ,1);

}
.interview .more {
    position: absolute;
    top: 140px;
    left: 0;
    width: 100%;
    text-align: center;
}
.interview .more a {
    padding: 9px 52px 9px 18px;
    display: inline-block;
    color: #666;
    border: 1px solid #999;
    position: relative;
}
.interview .more a::after {
    position: absolute;
    right: 10px;
    top: 8px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_5_241' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect x='24' y='24' width='24' height='24' transform='rotate(-180 24 24)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_5_241)'%3E%3Cpath d='M10.0001 6.34631L15.6538 12.0001L10.0001 17.6538L8.94631 16.6001L13.5463 12.0001L8.94631 7.40006L10.0001 6.34631Z' fill='%23666666' fill-opacity='0.6'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
}
.interview .more a:hover {
    color: #fff;
    border: 1px solid #E4BEA9;
    background-color: #E4BEA9;
}
.interview .more a:hover:after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_5_238' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect x='24' y='24' width='24' height='24' transform='rotate(-180 24 24)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_5_238)'%3E%3Cpath d='M10.0001 6.34631L15.6538 12.0001L10.0001 17.6538L8.94631 16.6001L13.5463 12.0001L8.94631 7.40006L10.0001 6.34631Z' fill='white' fill-opacity='0.6'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.footer {
    margin: 100px;
}
