@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

#fp-nav.fp-left {
    position: fixed;
    left: 2%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
}
#fp-nav ul li {
    display: block;
    font-family: 'TTHakgyoansimMulgyeolB';
    white-space: nowrap;
    position: relative;
    margin: 17px 0 ;
}
#fp-nav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
#fp-nav ul li a span {
    height: 15px;
    width: 15px;
    margin: -6px 0 0 -6px;
    border-radius: 0;
    border: 1px solid #fff;
    background-color: transparent;
}
#fp-nav ul li:hover a span {
    height: 15px;
    width: 15px;
    margin: -6px 0 0 -6px;
    border-radius: 0;
    border: 1px solid #fff;
    background-color: transparent;
}
#fp-nav ul li a.active span{
    height: 15px;
    width: 15px;
    margin: -6px 0 0 -6px;
    border-radius: 0;
    border: 1px solid #fff;
    background: #fff;
}
#fp-nav ul li:hover a span{
    height: 15px;
    width: 15px;
    border-radius: 0;
    border: 1px solid #fff;
    background: #fff;
}
#fp-nav ul li .fp-tooltip {
    font-family: 'TTHakgyoansimMulgyeolB';
    font-size: 1.133rem;
}
#fp-nav.fp-show-active a.active + .fp-tooltip,
#fp-nav ul li .fp-tooltip.fp-left {
    padding-left: 10px;
}
.quick_menu {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 101;
    width: 80px;
    height: 100%;
    background-color: rgba(67, 142, 243, 0.6);
    color: #fff;
    font-size: 0;
    line-height: 0;
}
.quick_menu {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
}
.quick_menu ul li {
    text-align: center;
    height: 80px;
    padding: 20px;
}
.quick_menu ul li a {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
}
.quick_menu ul li a::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.quick_menu ul li.search a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_345_3359' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='40' height='40'%3E%3Crect width='40' height='40' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_345_3359)'%3E%3Cpath d='M15.864 26.0248C13.0178 26.0248 10.6076 25.0377 8.63312 23.0635C6.65896 21.0891 5.67188 18.6788 5.67188 15.8327C5.67188 12.9866 6.65896 10.5763 8.63312 8.60188C10.6076 6.62771 13.0178 5.64062 15.864 5.64062C18.7101 5.64062 21.1203 6.62771 23.0948 8.60188C25.069 10.5763 26.056 12.9866 26.056 15.8327C26.056 17.023 25.8563 18.1598 25.4569 19.2431C25.0572 20.3265 24.524 21.2687 23.8573 22.0698L33.4473 31.6598C33.6781 31.8903 33.7962 32.1803 33.8015 32.5298C33.8067 32.8792 33.6887 33.1747 33.4473 33.416C33.2059 33.6574 32.9131 33.7781 32.569 33.7781C32.2251 33.7781 31.9324 33.6574 31.691 33.416L22.101 23.826C21.2677 24.5141 20.3094 25.0526 19.226 25.4415C18.1427 25.8303 17.022 26.0248 15.864 26.0248ZM15.864 23.5252C18.0115 23.5252 19.8303 22.7799 21.3206 21.2894C22.8112 19.7991 23.5565 17.9802 23.5565 15.8327C23.5565 13.6852 22.8112 11.8663 21.3206 10.376C19.8303 8.88548 18.0115 8.14021 15.864 8.14021C13.7165 8.14021 11.8976 8.88548 10.4073 10.376C8.91674 11.8663 8.17146 13.6852 8.17146 15.8327C8.17146 17.9802 8.91674 19.7991 10.4073 21.2894C11.8976 22.7799 13.7165 23.5252 15.864 23.5252Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.quick_menu ul li.global a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_345_3362' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='40' height='40'%3E%3Crect width='40' height='40' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_345_3362)'%3E%3Cpath d='M19.9974 35.8327C17.8266 35.8327 15.778 35.4166 13.8516 34.5843C11.9252 33.7521 10.2452 32.6191 8.81156 31.1852C7.37767 29.7516 6.24462 28.0716 5.4124 26.1452C4.58017 24.2188 4.16406 22.1702 4.16406 19.9993C4.16406 17.8113 4.58017 15.7584 5.4124 13.8406C6.24462 11.9228 7.37767 10.2471 8.81156 8.81351C10.2452 7.37963 11.9252 6.24657 13.8516 5.41435C15.778 4.58213 17.8266 4.16602 19.9974 4.16602C22.1854 4.16602 24.2384 4.58213 26.1561 5.41435C28.0739 6.24657 29.7496 7.37963 31.1832 8.81351C32.6171 10.2471 33.7502 11.9228 34.5824 13.8406C35.4146 15.7584 35.8307 17.8113 35.8307 19.9993C35.8307 22.1702 35.4146 24.2188 34.5824 26.1452C33.7502 28.0716 32.6171 29.7516 31.1832 31.1852C29.7496 32.6191 28.0739 33.7521 26.1561 34.5843C24.2384 35.4166 22.1854 35.8327 19.9974 35.8327ZM19.9974 33.2973C20.8479 32.1692 21.5638 31.0314 22.1449 29.8839C22.726 28.7364 23.1993 27.4821 23.5649 26.121H16.4299C16.8168 27.5249 17.2956 28.8006 17.8661 29.9481C18.4364 31.0956 19.1468 32.212 19.9974 33.2973ZM16.7699 32.8389C16.131 31.9223 15.5573 30.8802 15.0486 29.7127C14.54 28.5449 14.1448 27.3477 13.8628 26.121H8.20906C9.08934 27.8518 10.2699 29.306 11.7507 30.4835C13.2316 31.6607 14.9046 32.4459 16.7699 32.8389ZM23.2249 32.8389C25.0902 32.4459 26.7632 31.6607 28.2441 30.4835C29.7249 29.306 30.9054 27.8518 31.7857 26.121H26.132C25.7964 27.3582 25.3743 28.5607 24.8657 29.7285C24.3574 30.8963 23.8105 31.9331 23.2249 32.8389ZM7.16073 23.621H13.3566C13.2518 23.0016 13.1759 22.3942 13.1286 21.7989C13.0817 21.2039 13.0582 20.6041 13.0582 19.9993C13.0582 19.3946 13.0817 18.7948 13.1286 18.1998C13.1759 17.6045 13.2518 16.9971 13.3566 16.3777H7.16073C7.00045 16.9438 6.87767 17.5324 6.7924 18.1435C6.70684 18.7546 6.66406 19.3732 6.66406 19.9993C6.66406 20.6255 6.70684 21.2441 6.7924 21.8552C6.87767 22.4663 7.00045 23.0549 7.16073 23.621ZM15.8561 23.621H24.1386C24.2431 23.0016 24.3189 22.3996 24.3661 21.8152C24.4131 21.2307 24.4366 20.6255 24.4366 19.9993C24.4366 19.3732 24.4131 18.768 24.3661 18.1835C24.3189 17.5991 24.2431 16.9971 24.1386 16.3777H15.8561C15.7517 16.9971 15.6759 17.5991 15.6286 18.1835C15.5817 18.768 15.5582 19.3732 15.5582 19.9993C15.5582 20.6255 15.5817 21.2307 15.6286 21.8152C15.6759 22.3996 15.7517 23.0016 15.8561 23.621ZM26.6382 23.621H32.8341C32.9943 23.0549 33.1171 22.4663 33.2024 21.8552C33.2879 21.2441 33.3307 20.6255 33.3307 19.9993C33.3307 19.3732 33.2879 18.7546 33.2024 18.1435C33.1171 17.5324 32.9943 16.9438 32.8341 16.3777H26.6382C26.7429 16.9971 26.8189 17.6045 26.8661 18.1998C26.9131 18.7948 26.9366 19.3946 26.9366 19.9993C26.9366 20.6041 26.9131 21.2039 26.8661 21.7989C26.8189 22.3942 26.7429 23.0016 26.6382 23.621ZM26.132 13.8777H31.7857C30.8949 12.1255 29.7224 10.6713 28.2682 9.51518C26.8141 8.35935 25.133 7.56879 23.2249 7.14352C23.8638 8.11352 24.4321 9.17449 24.9299 10.3264C25.4279 11.4781 25.8286 12.6618 26.132 13.8777ZM16.4299 13.8777H23.5649C23.1779 12.4843 22.6913 11.2006 22.1049 10.0264C21.5182 8.85227 20.8157 7.74393 19.9974 6.70143C19.1791 7.74393 18.4766 8.85227 17.8899 10.0264C17.3035 11.2006 16.8168 12.4843 16.4299 13.8777ZM8.20906 13.8777H13.8628C14.1661 12.6618 14.5668 11.4781 15.0649 10.3264C15.5627 9.17449 16.131 8.11352 16.7699 7.14352C14.851 7.56879 13.1673 8.36213 11.7186 9.52352C10.2698 10.6846 9.0999 12.136 8.20906 13.8777Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.quick_menu ul li.facebook a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='29' viewBox='0 0 14 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_345_3366)'%3E%3Cpath d='M3 28.67H8.77V14.21H12.8L13.23 9.37H8.77V6.61C8.77 5.47 9 5.02 10.1 5.02H13.22V0H9.22C4.94 0 3 1.89 3 5.51V9.37H0V14.27H3V28.66V28.67Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_345_3366'%3E%3Crect width='13.23' height='28.67' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.quick_menu ul li.instar a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_345_3355)'%3E%3Cpath d='M17.5 3.15C22.1712 3.15 22.7231 3.16346 24.5673 3.25769C26.2769 3.33846 27.2058 3.62115 27.8115 3.86346C28.6327 4.18654 29.2115 4.56346 29.8173 5.16923C30.4365 5.78846 30.8135 6.36731 31.1231 7.175C31.3654 7.79423 31.6481 8.72308 31.7288 10.4192C31.8096 12.2635 31.8365 12.8154 31.8365 17.4865C31.8365 22.1577 31.8231 22.7096 31.7288 24.5538C31.6481 26.2635 31.3654 27.1923 31.1231 27.7981C30.8 28.6192 30.4231 29.1981 29.8173 29.8173C29.2115 30.4365 28.6192 30.8135 27.8115 31.1231C27.1923 31.3654 26.2635 31.6481 24.5673 31.7288C22.7231 31.8096 22.1712 31.8365 17.5 31.8365C12.8288 31.8365 12.2769 31.8231 10.4327 31.7288C8.72308 31.6481 7.79423 31.3654 7.18846 31.1231C6.36731 30.8 5.78846 30.4231 5.16923 29.8173C4.56346 29.1981 4.17308 28.6192 3.86346 27.7981C3.62115 27.1788 3.33846 26.25 3.25769 24.5538C3.17692 22.7096 3.15 22.1577 3.15 17.4865C3.15 12.8154 3.16346 12.2635 3.25769 10.4192C3.33846 8.70962 3.62115 7.78077 3.86346 7.175C4.18654 6.35385 4.56346 5.775 5.16923 5.16923C5.78846 4.55 6.36731 4.17308 7.18846 3.86346C7.80769 3.62115 8.73654 3.33846 10.4327 3.25769C12.2769 3.17692 12.8288 3.15 17.5 3.15ZM17.5 0C12.7481 0 12.1558 0.0269231 10.2846 0.107692C8.42692 0.188462 7.14808 0.484615 6.03077 0.915385C4.87308 1.35962 3.90385 1.96538 2.93462 2.93462C1.96538 3.90385 1.35962 4.88654 0.915385 6.03077C0.484615 7.14808 0.188462 8.41346 0.107692 10.2846C0.0269231 12.1558 0 12.7481 0 17.5C0 22.2519 0.0134615 22.8442 0.107692 24.7154C0.188462 26.5731 0.484615 27.8519 0.915385 28.9692C1.35962 30.1135 1.96538 31.0962 2.93462 32.0654C3.90385 33.0346 4.88654 33.6404 6.03077 34.0846C7.14808 34.5154 8.41346 34.8115 10.2846 34.8923C12.1558 34.9731 12.7481 35 17.5 35C22.2519 35 22.8442 34.9865 24.7154 34.8923C26.5731 34.8115 27.8519 34.5154 28.9692 34.0846C30.1269 33.6404 31.0962 33.0346 32.0654 32.0654C33.0346 31.0962 33.6404 30.1135 34.0846 28.9692C34.5154 27.8519 34.8115 26.5865 34.8923 24.7154C34.9731 22.8442 35 22.2519 35 17.5C35 12.7481 34.9865 12.1558 34.8923 10.2846C34.8115 8.42692 34.5154 7.14808 34.0846 6.03077C33.6404 4.88654 33.0346 3.90385 32.0654 2.93462C31.0962 1.96538 30.1135 1.35962 28.9692 0.915385C27.8519 0.484615 26.5865 0.188462 24.7154 0.107692C22.8442 0.0269231 22.2519 0 17.5 0Z' fill='white'/%3E%3Cpath d='M17.5001 8.52148C12.5328 8.52148 8.50781 12.5465 8.50781 17.5138C8.50781 22.4811 12.5328 26.5061 17.5001 26.5061C22.4674 26.5061 26.4924 22.4811 26.4924 17.5138C26.4924 12.5465 22.4674 8.52148 17.5001 8.52148ZM17.5001 23.3426C14.2828 23.3426 11.6713 20.7311 11.6713 17.5138C11.6713 14.2965 14.2828 11.6849 17.5001 11.6849C20.7174 11.6849 23.329 14.2965 23.329 17.5138C23.329 20.7311 20.7174 23.3426 17.5001 23.3426Z' fill='white'/%3E%3Cpath d='M28.9422 8.15859C28.9422 9.31629 27.9999 10.2586 26.8422 10.2586C25.6845 10.2586 24.7422 9.31629 24.7422 8.15859C24.7422 7.0009 25.6845 6.05859 26.8422 6.05859C27.9999 6.05859 28.9422 7.0009 28.9422 8.15859Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_345_3355'%3E%3Crect width='35' height='35' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.quick_menu ul li.blog a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='30' viewBox='0 0 21 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.402344 0.71875H6.16406V11.3438H6.35938C6.3724 11.2786 6.39193 11.2201 6.41797 11.168C6.44401 11.1159 6.47656 11.0638 6.51562 11.0117C6.84115 10.3607 7.2513 9.78125 7.74609 9.27344C8.24089 8.76562 8.8724 8.34896 9.64062 8.02344C10.4219 7.6849 11.3333 7.51562 12.375 7.51562C13.9766 7.51562 15.4284 7.92578 16.7305 8.74609C18.0456 9.56641 19.0872 10.8034 19.8555 12.457C20.6237 14.0977 21.0078 16.0833 21.0078 18.4141C21.0078 20.7188 20.6302 22.6914 19.875 24.332C19.1328 25.9596 18.1042 27.2031 16.7891 28.0625C15.474 28.9089 14.0026 29.332 12.375 29.332C11.3203 29.332 10.4023 29.1628 9.62109 28.8242C8.83984 28.4857 8.19531 28.0625 7.6875 27.5547C7.19271 27.0469 6.78255 26.4674 6.45703 25.8164C6.43099 25.7773 6.41146 25.7448 6.39844 25.7188C6.38542 25.6927 6.3724 25.6602 6.35938 25.6211H6.06641V29H0.402344V0.71875ZM6.04688 18.375C6.04688 19.651 6.22266 20.7643 6.57422 21.7148C6.9388 22.6523 7.45312 23.388 8.11719 23.9219C8.79427 24.4557 9.60807 24.7227 10.5586 24.7227C11.5091 24.7227 12.3229 24.4557 13 23.9219C13.6901 23.388 14.2109 22.6458 14.5625 21.6953C14.9141 20.7448 15.0898 19.638 15.0898 18.375C15.0898 17.125 14.9141 16.0312 14.5625 15.0938C14.224 14.1562 13.7096 13.4336 13.0195 12.9258C12.3424 12.4049 11.5221 12.1445 10.5586 12.1445C9.60807 12.1445 8.79427 12.3984 8.11719 12.9062C7.45312 13.401 6.9388 14.1237 6.57422 15.0742C6.22266 16.0117 6.04688 17.112 6.04688 18.375Z' fill='white'/%3E%3C/svg%3E%0A");
}
.quick_menu ul li.youtube a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='38' height='27' viewBox='0 0 38 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_345_3353)'%3E%3Cpath d='M37.1994 4.22064C36.7589 2.5647 35.4776 1.25206 33.8359 0.807779C30.8727 0 18.9902 0 18.9902 0C18.9902 0 7.10773 0 4.14461 0.807779C2.51289 1.25206 1.22153 2.5546 0.781067 4.22064C-0.00976568 7.22962 -0.00976562 13.5101 -0.00976562 13.5101C-0.00976562 13.5101 -0.00976568 19.7906 0.781067 22.7996C1.22153 24.4555 2.50288 25.7681 4.14461 26.2124C7.10773 27.0202 18.9902 27.0202 18.9902 27.0202C18.9902 27.0202 30.8727 27.0202 33.8359 26.2124C35.4676 25.7681 36.7589 24.4656 37.1994 22.7996C37.9902 19.7906 37.9902 13.5101 37.9902 13.5101C37.9902 13.5101 37.9902 7.22962 37.1994 4.22064ZM15.1162 19.2049V7.80516L25.0466 13.5L15.1162 19.1948V19.2049Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_345_3353'%3E%3Crect width='38' height='27' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
@media screen and (max-width: 1300px){
    .quick_menu {
        display: none;
    }
}
@media screen and (max-width: 768px){
    #fp-nav {
        display: none;
    }
}

.visual h2{
    display: none;
}
.visual .swiper {
    width: 100vw;
    height: 100vh;
}
.visual .swiper .swiper-slide {
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.visual .swiper .swiper-slide.popup1 {
    background-image: url(../images/main/popup_bg1.png);
} 
.visual .swiper .swiper-slide.popup2 {
    background-image: url(../images/main/popup_bg2.png);
}
.visual .swiper .swiper-slide.popup3 {
    background-image: url(../images/main/popup_bg3.png);
}
.visual .swiper .swiper-slide.popup4 {
    background-image: url(../images/main/popup_bg4.png);
}
.visual .swiper .swiper-slide .inner {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.visual .swiper .swiper-slide h3 {
    font-family: 'TTHakgyoansimMulgyeolB';
    font-weight: 700;
    font-size: var(--txt-size-tit);
    margin-bottom: 13px;
}
.visual .swiper .swiper-slide p {
    font-size: var(--txt-size-txt);
    color: rgba(255, 255, 255, 0.6);
}
.visual .btn_wrap {
    position: absolute; 
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 50px;
    z-index: 10;
    color: #fff;
    display: flex;
    align-items: center;
}
.visual .btn_wrap .paging {
    width: auto; 
    display: flex;
}
.visual .btn_wrap .paging .swiper-pagination-bullet { 
    width: 107px;
    height: 9px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    opacity: 1;
    position: relative;
}
.visual .btn_wrap .paging .swiper-pagination-bullet-active::before { 
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    content: "";
    animation-name: visual_count;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
@keyframes visual_count {
    0% {width: 0%;}
    100% {width: 100%;}
}
.visual .btn_wrap button {
    width: 35px;
    height: 35px;
    font-size: 0;
    line-height: 0;
    position: relative;
    display: flex;
    align-items: center;
}
.visual .btn_wrap button::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.visual .btn_wrap .btn_play::before {
    background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_345_3374' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='35' height='35'%3E%3Crect width='35' height='35' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_345_3374)'%3E%3Cpath d='M14.5833 22.7165L22.7165 17.5L14.5833 12.2835V22.7165ZM17.5047 30.625C15.6898 30.625 13.9835 30.2806 12.3856 29.5918C10.788 28.903 9.39823 27.9682 8.21625 26.7874C7.03427 25.6066 6.09863 24.2181 5.40932 22.6217C4.71977 21.0255 4.375 19.3199 4.375 17.5047C4.375 15.6898 4.71941 13.9835 5.40823 12.3856C6.09705 10.788 7.03184 9.39823 8.2126 8.21625C9.39337 7.03427 10.7819 6.09863 12.3783 5.40932C13.9745 4.71977 15.6801 4.375 17.4953 4.375C19.3102 4.375 21.0165 4.71941 22.6144 5.40823C24.212 6.09705 25.6018 7.03184 26.7838 8.2126C27.9657 9.39337 28.9014 10.7819 29.5907 12.3783C30.2802 13.9745 30.625 15.6801 30.625 17.4953C30.625 19.3102 30.2806 21.0165 29.5918 22.6144C28.903 24.212 27.9682 25.6018 26.7874 26.7838C25.6066 27.9657 24.2181 28.9014 22.6217 29.5907C21.0255 30.2802 19.3199 30.625 17.5047 30.625ZM17.5 29.1667C20.7569 29.1667 23.5156 28.0365 25.776 25.776C28.0365 23.5156 29.1667 20.7569 29.1667 17.5C29.1667 14.2431 28.0365 11.4844 25.776 9.22396C23.5156 6.96354 20.7569 5.83333 17.5 5.83333C14.2431 5.83333 11.4844 6.96354 9.22396 9.22396C6.96354 11.4844 5.83333 14.2431 5.83333 17.5C5.83333 20.7569 6.96354 23.5156 9.22396 25.776C11.4844 28.0365 14.2431 29.1667 17.5 29.1667Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .btn_wrap .btn_stop::before {
    background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_345_3377' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='35' height='35'%3E%3Crect width='35' height='35' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_345_3377)'%3E%3Cpath d='M14.303 22.6042H15.7613V12.3958H14.303V22.6042ZM19.2387 22.6042H20.697V12.3958H19.2387V22.6042ZM17.5047 30.625C15.6898 30.625 13.9835 30.2806 12.3856 29.5918C10.788 28.903 9.39823 27.9682 8.21625 26.7874C7.03427 25.6066 6.09863 24.2181 5.40932 22.6217C4.71977 21.0255 4.375 19.3199 4.375 17.5047C4.375 15.6898 4.71941 13.9835 5.40823 12.3856C6.09705 10.788 7.03184 9.39823 8.2126 8.21625C9.39337 7.03427 10.7819 6.09863 12.3783 5.40932C13.9745 4.71977 15.6801 4.375 17.4953 4.375C19.3102 4.375 21.0165 4.71941 22.6144 5.40823C24.212 6.09705 25.6018 7.03184 26.7838 8.2126C27.9657 9.39337 28.9014 10.7819 29.5907 12.3783C30.2802 13.9745 30.625 15.6801 30.625 17.4953C30.625 19.3102 30.2806 21.0165 29.5918 22.6144C28.903 24.212 27.9682 25.6018 26.7874 26.7838C25.6066 27.9657 24.2181 28.9014 22.6217 29.5907C21.0255 30.2802 19.3199 30.625 17.5047 30.625ZM17.5 29.1667C20.7569 29.1667 23.5156 28.0365 25.776 25.776C28.0365 23.5156 29.1667 20.7569 29.1667 17.5C29.1667 14.2431 28.0365 11.4844 25.776 9.22396C23.5156 6.96354 20.7569 5.83333 17.5 5.83333C14.2431 5.83333 11.4844 6.96354 9.22396 9.22396C6.96354 11.4844 5.83333 14.2431 5.83333 17.5C5.83333 20.7569 6.96354 23.5156 9.22396 25.776C11.4844 28.0365 14.2431 29.1667 17.5 29.1667Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
@media screen and (max-width: 1024px){
    .visual .swiper .swiper-slide h3 {
        font-size: 2.308rem;
    }
    .visual .swiper .swiper-slide p {
        font-size: 1rem;
    }
}
@media screen and (max-width: 768px){
    .visual .swiper {
        height: 500px;
    }
    .visual .swiper .swiper-slide {
        height: 500px;
    }
    .visual .swiper .swiper-slide .inner {
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .visual .btn_wrap .paging .swiper-pagination-bullet { 
        width: 50px;
        height: 5px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.4);
        opacity: 1;
        position: relative;
    }
    .visual .btn_wrap {
        bottom: 22px;
    }
    .visual .btn_wrap button {
        width: 24px;
        height: 24px;
    }
    
}
.info {
    background-image: url(../images/main/info_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.show_event {
    background-color: #33496D;
}
.stamp {
    background-color: bisque;
}
.photo_review {
    background-color: #3d3d3d;
}
.theme {
    background-color: #3B63A1;
}
.location {
    background-color: #3d3d3d;
}

