@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

/* .visual {
    background-color: #20231F;
    height: 1000px;
    font-size: 90px;
    font-family: 'SF_HambakSnow';
    text-align: center;
    position: relative;
}
.visual h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}
.visual h1 strong {
    display: inline-block;
    margin-right: 0.5em;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}
.visual h1 strong em {
    display: inline-block;
    width: 0;
    overflow: hidden;
    position: relative;
    animation-name: h1_text;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes h1_text {
    0% {width: 0;}
    100% {width: 100%;}
} */

.visual {
    background-color: #20231F;
    height: 1000px;
    font-size: 90px;
    font-family: 'SF_HambakSnow';
    text-align: center;
    position: relative;

}
.visual h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 87rem;
    justify-content: center;
}
.visual h1 .ca {
    margin-right: 1rem;
    display: flex;
}
.visual h1 strong {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}
.visual h1 em {
    display: inline;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}
.visual h1 > strong {
    margin-right: 1rem;
}
.visual h1 span {
    display: inline;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}
.visual h1 span:last-of-type {
    animation: slide 7s forwards;
    margin-left:-355px;
    display: block;
}
@keyframes slide {
    0% { margin-left:-800px; opacity: 0;}
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; opacity: 100%;}
}