/*header 와 footer 처럼 page에 공통으로 나타나는 요소*/

.skip_nav {
    position: absolute;
    left: 0;
    top: -100px; /*포커스가 될때만 나타나야함, 위에 숨겨져 있어야함*/
    width: 100%;
    z-index: 9999999999999999999999999999999999;/*꼭 맨 상단*/
}
.skip_nav a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #3D3D3D;
    text-align: center;
    color: #fff;
    line-height: 50px;
}
.skip_nav a:focus {
    top: 100px;
}
header {
    position: relative;
    z-index: 100;
}
header .header_sub .logo {
    position: absolute;
    left: 50%;
    top: -90px;
    transform: translate(-50%, 0);
}
header .header_sub .logo a {
    display: block;
    width: 107px;
    height: 85px;
    font-size: 0;
    line-height: 0;
    background: url(../images/main/logo.png) no-repeat center center / contain; /*svg 코드로 입력시 bg-image 로 주고 위치 반복 따로 줌*/
}
@media screen and (min-width: 1025px){ /*1025px 이상*/
    header .header_top {
        height: 100px;
        display: flex;
        justify-content: space-between;
        padding: 0 54px;
    }
    header .header_top .tnb ul {
        display: flex;
    }
    header .header_top .tnb ul li a {
        display: block;
        padding: 23px 15px;
        font-size: 1rem;
        color: var(--txt-color-gray);
        position: relative;
    }
    header .header_top .tnb ul li a:hover {
        color: var(--txt-color-main);
    }
    header .header_top .tnb ul li a::before {
        position: absolute;
        left: 0;
        top: calc(50% - 3px);
        content: "";
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: rgba(102, 102, 40, 0.6);
    }
    header .header_top .tnb ul li:first-child a::before {
        display: none;
    }
    header .header_sub {
        height: 95px;
        position: relative;
    }
    header .header_sub .gnb .gnb_open,
    header .header_sub .gnb .gnb_close {
        display: none; /*숨김*/
    }
    header .header_sub .gnb .gnb_wrap .depth1 {
        display: flex;
    }
    header .header_sub .gnb .gnb_wrap .depth1 > li {
        width: 16.66%; /*100 나누기 6, 소수점은 반올림 하지말고 자르기*/
        min-width: 132px;
        position: relative;
    }
    header .header_sub .gnb .gnb_wrap .depth1 > li > a {
        display: block;
        font-family: 'Ownglyph_meetme-Rg';
        text-align: center;
        font-size: var(--txt-size-tit3);
        color: var(--txt-color-tit);
        line-height: 95px;
        white-space: nowrap;
    }
    header .header_sub .gnb .gnb_wrap .depth1 > li.over > a {
        color: var(--txt-color-main);
    }
    header .header_sub .gnb .gnb_wrap .depth1 > li.over > a > span {
        position: relative;
    }
    header .header_sub .gnb .gnb_wrap .depth1 > li.over > a > span::after {
        position: absolute;
        left: 50%;
        bottom: -37px;
        width: 100%;
        height: 2px;
        transform: translate(-50%, 0);
        background-color: var(--txt-color-main);
        content: "";
        z-index: 1;
    }
    header .header_sub .gnb .gnb_wrap .depth2 { /*header 밖에 존재, position:absolute 로 배치해야함*/
        font-family: 'Ownglyph_meetme-Rg';
        text-align: center;
        color: var(--txt-color-tit);
        position: absolute;
        left: 0;
        top: 95px;
        width: 100%;
        display: none;
        line-height: 2;
        padding-top: 20px;
        font-size: var(--txt-size-tit4);
    }
    header .header_sub .gnb .gnb_wrap .depth2 > li > a {
        display: block;
        white-space: nowrap;
    }
    header .header_sub .gnb .gnb_wrap .depth2 > li > a:hover {
        color: var(--txt-color-main);
        letter-spacing: 0.3px;
    }

    /*pc header.menu_over*/
    header.menu_over .header_sub .gnb .gnb_wrap .depth2 {
        display: block;
    }
    header.menu_over::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 450px;
        background-color: #fff;
        content: "";
        box-shadow: 0 0 10px rgba(0, 0, 0 ,0.2);
        z-index: -1;
    }
    header.menu_over::after {
        position: absolute;
        left: 0;
        top: 195px;
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        content: "";
    }

    /*pc header.fixed*/
    header.fixed {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0 ,0.2);
    }
    header.menu_over.fixed::after {
        top: 95px;
    }
    header.menu_over.fixed::before {
        height: 350px;
    }
    header.fixed+.container {
        margin-top: 95px;
    }
    header.fixed .wrapper {
        width: auto;
        margin: 0 20px;
    }
    header.fixed .header_top {
        display: none;
    }
    header.fixed .header_sub .logo {
        position: relative;
        left: auto;
        top: auto;
        transform: translate(0, 0);
        margin-top: 5px;
    }
    header.fixed .header_sub {
        display: flex;
        justify-content: space-between;
    }
}

/*모바일 버전*/
@media screen and (max-width: 1024px){
    header {
        height: 50px;
    }
    header .header_top {
        display: none;
    }
    header .header_sub .gnb .gnb_wrap {
        display: none;
        position: absolute; /*header를 기준으로 정렬*/
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh; /*브라우저 높이 만큼*/
        background-color: #ede8e3;
    }
    header .header_sub .gnb .gnb_wrap .depth1 {
        margin-top: 50px;
        height: calc(100% - 50px);
        overflow-y: auto;
    }
    header .header_sub .gnb .gnb_wrap .depth1 > li > a {
        display: block;
        padding: 0 20px;
        white-space: nowrap;
        font-size: 1.538rem;
        line-height: 40px;
        color: var(--txt-color-tit);
        font-weight: bold;
        font-family: 'Ownglyph_meetme-Rg';
    }
    header .header_sub .gnb .gnb_wrap .depth1 > li > a > span {
        position: relative;
    }
    header .header_sub .gnb .gnb_wrap .depth1 > li > a > span::after {
        position: absolute;
        right: -17px;
        top: 5px;
        width: 10px;
        height: 10px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='7px' height='6px'%3E%3Cpath fill-rule='evenodd' fill='rgb(0, 0, 0)' d='M3.500,6.000 L0.000,-0.000 L6.1000,-0.000 L3.500,6.000 Z'/%3E%3C/svg%3E");
        content: "";
    }
    header .header_sub .gnb .gnb_wrap .depth1 > li.open > a > span::after {
        transform: rotate(180deg);
    }
    header .header_sub .gnb .gnb_wrap .depth2 {
        display: none;
        margin: 0 20px;
        background-color: var(--txt-color-choco);
        color: #fff;
    }
    header .header_sub .gnb .gnb_wrap .depth1 > li.open > .depth2 {
        display: block;
    }
    header .header_sub .gnb .gnb_wrap .depth2 > li > a {
        display: block;
        font-size: 1.154rem;
        line-height: 20px;
        font-family: 'Ownglyph_meetme-Rg';
        padding: 10px 20px;
    }
    header .header_sub .gnb .gnb_open,
    header .header_sub .gnb .gnb_close {
        position: absolute; /*header를 기준으로 정렬*/
        right: 0;
        top :0;
        width: 50px;
        height: 100%;
        font-size: 0;
        line-height: 0;
    }
    header .header_sub .gnb .gnb_open::before,
    header .header_sub .gnb .gnb_close::before {
        position: absolute;
        left: 50;
        top: 50%;
        transform: translate(-50%, -50%);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
    }
    header .header_sub .gnb .gnb_open::before {
        width: 16px;
        height: 16px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='16px' height='16px'%3E%3Cpath fill-rule='evenodd' fill='rgb(232, 10, 77)' d='M14.000,-0.000 C15.105,-0.000 16.000,0.895 16.000,2.000 C16.000,3.105 15.105,4.000 14.000,4.000 C12.895,4.000 11.1000,3.105 11.1000,2.000 C11.1000,0.895 12.895,-0.000 14.000,-0.000 Z'/%3E%3Cpath fill-rule='evenodd' fill='rgb(232, 10, 77)' d='M14.000,5.1000 C15.105,5.1000 16.000,6.895 16.000,8.000 C16.000,9.105 15.105,10.000 14.000,10.000 C12.895,10.000 11.1000,9.105 11.1000,8.000 C11.1000,6.895 12.895,5.1000 14.000,5.1000 Z'/%3E%3Cpath fill-rule='evenodd' fill='rgb(232, 10, 77)' d='M14.000,11.1000 C15.105,11.1000 16.000,12.895 16.000,14.000 C16.000,15.105 15.105,16.000 14.000,16.000 C12.895,16.000 11.1000,15.105 11.1000,14.000 C11.1000,12.895 12.895,11.1000 14.000,11.1000 Z'/%3E%3Cpath fill-rule='evenodd' fill='rgb(232, 10, 77)' d='M8.000,11.1000 C9.105,11.1000 10.000,12.895 10.000,14.000 C10.000,15.105 9.105,16.000 8.000,16.000 C6.895,16.000 5.1000,15.105 5.1000,14.000 C5.1000,12.895 6.895,11.1000 8.000,11.1000 Z'/%3E%3Cpath fill-rule='evenodd' fill='rgb(232, 10, 77)' d='M8.000,5.1000 C9.105,5.1000 10.000,6.895 10.000,8.000 C10.000,9.105 9.105,10.000 8.000,10.000 C6.895,10.000 5.1000,9.105 5.1000,8.000 C5.1000,6.895 6.895,5.1000 8.000,5.1000 Z'/%3E%3Cpath fill-rule='evenodd' fill='rgb(232, 10, 77)' d='M8.000,-0.000 C9.105,-0.000 10.000,0.895 10.000,2.000 C10.000,3.105 9.105,4.000 8.000,4.000 C6.895,4.000 5.1000,3.105 5.1000,2.000 C5.1000,0.895 6.895,-0.000 8.000,-0.000 Z'/%3E%3Cpath fill-rule='evenodd' fill='rgb(232, 10, 77)' d='M2.000,-0.000 C3.105,-0.000 4.000,0.895 4.000,2.000 C4.000,3.105 3.105,4.000 2.000,4.000 C0.895,4.000 -0.000,3.105 -0.000,2.000 C-0.000,0.895 0.895,-0.000 2.000,-0.000 Z'/%3E%3Cpath fill-rule='evenodd' fill='rgb(232, 10, 77)' d='M2.000,5.1000 C3.105,5.1000 4.000,6.895 4.000,8.000 C4.000,9.105 3.105,10.000 2.000,10.000 C0.895,10.000 -0.000,9.105 -0.000,8.000 C-0.000,6.895 0.895,5.1000 2.000,5.1000 Z'/%3E%3Cpath fill-rule='evenodd' fill='rgb(232, 10, 77)' d='M2.000,11.1000 C3.105,11.1000 4.000,12.895 4.000,14.000 C4.000,15.105 3.105,16.000 2.000,16.000 C0.895,16.000 -0.000,15.105 -0.000,14.000 C-0.000,12.895 0.895,11.1000 2.000,11.1000 Z'/%3E%3C/svg%3E");
    }
    header .header_sub .gnb .gnb_close {
        display: none;
    }
    header .header_sub .gnb .gnb_close::before {
        width: 17px;
        height: 17px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20px' height='20px'%3E%3Cpath fill-rule='evenodd' stroke='rgb(0, 0, 0)' stroke-width='2px' stroke-linecap='round' stroke-linejoin='round' fill='none' d='M2.646,3.354 L3.354,2.646 L16.354,15.646 L15.646,16.354 L2.646,3.354 Z'/%3E%3Cpath fill-rule='evenodd' stroke='rgb(0, 0, 0)' stroke-width='2px' stroke-linecap='round' stroke-linejoin='round' fill='none' d='M15.269,3.010 L15.990,3.731 L2.731,16.990 L2.010,16.269 L15.269,3.010 Z'/%3E%3C/svg%3E");
    }
    header .header_sub .logo {
        position: absolute;
        left: 30px;
        top: 10px;
    }
    header .header_sub .logo a {
        width: 38px;
        height: 30px;
        display: block;
        font-size: 0;
        line-height: 0;
        background: url(../images/main/logo.png) no-repeat center center / contain; /*svg 코드로 입력시 bg-image 로 주고 위치 반복 따로 줌*/
    }

    /*mobile header.fixed*/
    header.fixed {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0 ,0.2);
    }
    header.fixed + .container {
        margin-top: 50px;
    }

    /*mobile header.menu_open*/
    header.menu_open .header_sub .gnb .gnb_wrap {
        display: block;
    }
    header.menu_open .header_sub .gnb .gnb_open {
        display: none;
    }
    header.menu_open .header_sub .gnb .gnb_close {
        display: block;
    }
}
.quick {
    position: fixed;
    right: 1.6%;
    bottom: 100px;
    z-index: 90; /*header보다 작고 다른애들보단 위여야 함*/
}
.quick .open, 
.quick button.close {
    display: none; /*숨김*/
}

.quick .quick_ctn ul li a,
.quick .quick_ctn ul li button {
    display: block;
    width: 69px;
    height: 69px;
    border-radius: 50%;
    background-color: var(--txt-color-choco);
    margin-top: 20px;
    text-align: center;
    color: #fff;
    font-family: 'Ownglyph_meetme-Rg';
    font-size: 1rem;
    padding-top: 38px;
    position: relative;
    box-shadow: 2px 2px 2px rgba(0, 0, 0 ,0.2); 
}
.quick .quick_ctn ul li a:hover,
.quick .quick_ctn ul li button:hover {
    background-color: var(--txt-color-main);
}
.quick .quick_ctn ul li.q04 button {
    padding-top: 28px;
}
.quick .quick_ctn ul li a::before,
.quick .quick_ctn ul li button::before {
    position: absolute;
    left: 50%;
    top: 13px;
    transform: translate(-50%, 0);
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.quick .quick_ctn ul li.q01 a::before {
    width: 23px;
    height: 25px;
    background-image: url(../images/main/icon2.png);

}
.quick .quick_ctn ul li.q02 a::before {
    width: 25px;
    height: 26px;
    background-image: url(../images/main/ico3.png);

}
.quick .quick_ctn ul li.q03 a::before {
    width: 25px;
    height: 25px;
    background-image: url(../images/main/ico4.png);

}
.quick .quick_ctn ul li.q04 button::before {
    width: 14px;
    height: 20px;
    background-image: url(../images/main/ico5.png);

}
.quick .quick_ctn h2 {
    display: none;
}
.quick .close {
    display: block;
    width: 69px;
    height: 69px;
    border-radius: 50%;
    background-color: var(--txt-color-main);
    text-align: center;
    color: #fff;
    font-family: 'Ownglyph_meetme-Rg';
    font-size: 1rem;
    padding-top: 30px;
    position: relative;
    box-shadow: 2px 2px 2px rgba(0, 0, 0 ,0.2); 
    font-size: 0;
    line-height: 0;
    margin-top: 20px;
}
.quick .close::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/main/icon6.png);
    content: "";
}
@media screen and (max-width: 1300px){
    .quick .open{
        display: block;
        width: 69px;
        height: 69px;
        border-radius: 50%;
        background-color: var(--txt-color-main);
        text-align: center;
        color: #fff;
        font-family: 'Ownglyph_meetme-Rg';
        font-size: 1rem;
        padding-top: 30px;
        position: relative;
        box-shadow: 2px 2px 2px rgba(0, 0, 0 ,0.2); 
    }
    .quick .open::before {
        position: absolute;
        left: 50%;
        top: 17px;
        transform: translate(-50%, 0);
        width: 20px;
        height: 20px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(../images/main/ico1.png);
        content: "";
    }
    .quick .quick_ctn {
        display: none;
    }
    .quick.open .open {
        display: none;
    }
    .quick .close {
        display: none;
    }
    .quick.open .close {
        display: block;
    }
    .quick.open .quick_ctn{
        display: block;
    }
}
@media screen and (max-width: 768px){
    .quick {
        display: none;
    }
}
footer {
    background-color: #ede8e3;
    height: 270px;
    padding: 0 0 75px 0;
}
footer .f_top {
    background-color: var(--txt-color-choco);
    color: #fff;
    font-family: 'Ownglyph_meetme-Rg';
}
footer .wrapper {
    position: relative;
}
footer .f_sns {
    position: absolute;
    right: 0;
    top: 150px;
}
footer .f_sns ul {
    display: flex;
}
footer .f_sns ul li {
    margin: 0 10px;
    width: 37px;
    height: 37px;
}
footer .f_sns ul li a {
    display: block;
    font-size: 0;
    line-height: 0;
    position: relative;
}
footer .f_sns ul li a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 37px;
    height: 37px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
footer .f_sns ul li.facebook a::before {
    background-image: url(../images/main/facebook.png);
}
footer .f_sns ul li.youtube a::before {
    background-image: url(../images/main/youtube.png);
}
footer .f_sns ul li.instar a::before {
    background-image: url(../images/main/instar.png);
}
footer .f_top .f_nav ul {
    display: flex;
}
footer .f_top .f_nav ul li {
    margin-right: 30px;
    line-height: 60px;
}
footer .f_top .f_nav ul li a {
    position: relative;
}
footer .f_top .f_nav ul li a::after {
    position: relative;
    right: 18px;
    top: -32px;
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.4);
    content: "";
}
footer .f_top .f_nav ul li:first-child a::after {
    display: none;
}
footer .f_sub {
    margin-top: 50px;
    font-size: 1.154rem;
}
footer .f_info {
    display: flex;
    margin-bottom: 20px;
}
footer .f_info span,
footer .f_info address {
    display: inline-block;
    margin-right: 30px;
}
@media screen and (max-width: 1024px){
    footer {
        height: 397px;
        padding: 23px 0 55px 0;
    }
    footer .f_top {
        background-color: transparent;
        color: #3d3d3d;
    }
    footer .f_sns {
        position: relative;
        right: auto;
        top: auto;
        padding: 10px 0 30px 0;
    }
    footer .f_sns ul {
        display: flex;
        justify-content: center;
    }
    footer .f_sns ul li {
        margin: 0 5px;
        width: 37px;
        height: 37px;
    }
    footer .f_sns ul li a {
        display: block;
        font-size: 0;
    }
    footer .f_top .f_nav ul {
        justify-content: center;
        flex-wrap: wrap;
        border-width: 1px 0 0 1px;
        border-color: rgba(0, 0, 0, 0.2);
        border-style: solid;
    }
    footer .f_top .f_nav ul li {
        margin-right: 0;
        line-height: 1.2;
        width: 25%;
        border-width: 0 1px 1px 0;
        border-color: rgba(0, 0, 0, 0.2);
        border-style: solid;
    }
    footer .f_top .f_nav ul li a {
        display: block;
        padding: 7px 0 ;
        text-align: center;
    }
    footer .f_top .f_nav ul li a::after {
        display: none;
    }
    footer .f_info {
        display: block;
        line-height: 30px;
        text-align: center;
    }
    footer .f_info span,
    footer .f_info address {
        display: inline-block;
        margin-right: 30px;
    }
    .copy {
        text-align: center;
    }
}
@media screen and (max-width: 768px){
    footer .f_top .f_nav ul li {
        width: 50%;
    }
    footer .f_sub {
        margin-top: 20px;
    }
}
