/*header 와 footer 처럼 page에 공통으로 나타나는 요소*/

.skip_nav {
    position: absolute;
    left: 0;
    top: -100px; /*포커스가 될때만 나타나야함, 위에 숨겨져 있어야함*/
    width: 100%;
    z-index: 9999999999999999999999999999999999;/*꼭 맨 상단*/
}
.skip_nav a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #3D3D3D;
    text-align: center;
    color: #fff;
    line-height: 50px;
}
.skip_nav a:focus {
    top: 100px;
}
header {
    position: relative;
    z-index: 100;
}
@media screen and (min-width: 1025px){ /*1025px 이상*/
    header .header_top {
        height: 100px;
        display: flex;
        justify-content: space-between;
        padding: 0 54px;
    }
    header .header_top .tnb ul {
        display: flex;
    }
    header .header_top .tnb ul li a {
        display: block;
        padding: 23px 15px;
        font-size: 1rem;
        color: var(--txt-color-gray);
        position: relative;
    }
    header .header_top .tnb ul li a:hover {
        color: var(--txt-color-main);
    }
    header .header_top .tnb ul li a::before {
        position: absolute;
        left: 0;
        top: calc(50% - 3px);
        content: "";
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: rgba(102, 102, 40, 0.6);
    }
    header .header_top .tnb ul li:first-child a::before {
        display: none;
    }
    header .header_sub {
        height: 95px;
        position: relative;
    }
    header .header_sub .logo {
        position: absolute;
        left: 50%;
        top: -90px;
        transform: translate(-50%, 0);
    }
    header .header_sub .logo a {
        display: block;
        width: 107px;
        height: 85px;
        font-size: 0;
        line-height: 0;
        background: url(../images/main/logo.png) no-repeat center center / contain; /*svg 코드로 입력시 bg-image 로 주고 위치 반복 따로 줌*/
    }
    header .header_sub .gnb .depth1 {
        display: flex;
    }
    header .header_sub .gnb .depth1 > li {
        width: 16.66%; /*100 나누기 6, 소수점은 반올림 하지말고 자르기*/
        position: relative;
    }
    header .header_sub .gnb .depth1 > li > a {
        display: block;
        font-family: 'Ownglyph_meetme-Rg';
        text-align: center;
        font-size: var(--txt-size-tit3);
        color: var(--txt-color-tit);
        line-height: 95px;
    }
    header .header_sub .gnb .depth2 { /*header 밖에 존재, position:absolute 로 배치해야함*/
        font-family: 'Ownglyph_meetme-Rg';
        text-align: center;
        color: var(--txt-color-tit);
        position: absolute;
        left: 0;
        top: 95px;
        width: 100%;
        display: none;
    }
}

/*모바일 버전*/
@media screen and (max-width: 1024px){
    header .header_top {
        display: none;
    }
    header .header_sub .gnb {
        display: none;
    }
}