/*header 와 footer 처럼 page에 공통으로 나타나는 요소*/

.skip_nav {
    position: absolute;
    left: 0;
    top: -100px; /*포커스가 될때만 나타나야함, 위에 숨겨져 있어야함*/
    width: 100%;
    z-index: 9999999999999999999999999999999999;/*꼭 맨 상단*/
}
.skip_nav a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #3D3D3D;
    text-align: center;
    color: #fff;
    line-height: 50px;
}
.skip_nav a:focus {
    top: 100px;
}