@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

.visual_popup .popup .popup_item {
    height: 1000px;
    overflow: hidden;
}
.visual_popup .popup .popup_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.visual_popup .popup .popup_item img.mo {
    display: none;
}
.visual_popup .popup .slick-dots {
    position: absolute; /*popup을 기준으로 정렬*/
    left: 50%;
    bottom: 22px;
    transform: translate(-50%, 0);
    display: flex;
}
.visual_popup .popup .slick-dots li {
    margin: 0 6px;
}
.visual_popup .popup .slick-dots li button {
    font-size: 0;
    line-height: 0;
    width: 31px;
    height: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}
.visual_popup .popup .slick-dots li.slick-active button {
    width: 47px;
    background-color: #fff;
}
@media screen and (max-width: 768px){
    .visual_popup .popup .popup_item {
        height: auto;
    }
    .visual_popup .popup .popup_item img.pc {
        display: none;
    }
    .visual_popup .popup .popup_item img.mo {
        display: block;
    }
}
.menu .tit {
    margin: 150px 0 125px 0;
    text-align: center;
}
.menu .tit h2 {
    font-family: 'Ownglyph_meetme-Rg';
    font-size: var(--txt-size-tit1);
    color: var(--txt-color-tit);
}
.menu .list .popup {
    margin-bottom: 50px;
    padding-top: 50px;
}
.menu .list .popup .popup_item {
    margin: 0 10px;
}
.menu .list .popup .popup_item{
    position: relative;
    text-align: center;
    display: block;
    padding: 70px 0 0 0;
}
.menu .list .popup .popup_item .photo {
    overflow: hidden;
}
.menu .list .popup .popup_item .photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.menu .list .popup .popup_item::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 70%;
    border: 3px solid #f8f2de;
    border-radius: 150px 150px 0 0 ;
    content: "";
    z-index: -1;
}
.menu .list .popup .popup_item h3 {
    font-size: var(--txt-size-tit2);
    color: var(--txt-color-choco);
    line-height: 0.8;
    height: 1.6em;
    overflow: hidden;
}

@media screen and (max-width: 1024px){
    .menu .tit {
        margin: 50px 0 25px 0;
        text-align: center;
    }
    .menu .tit h2 {
        font-size: 3.077rem;
    }
    .menu .list .popup .popup_item {
        padding: 45px 0 0 0;
    }
    .menu .list .popup .popup_item::before {
        width: 100%;
        height: 70%;
    }
}