@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

.visual_popup .popup .popup_item {
    height: 1000px;
    overflow: hidden;
}
.visual_popup .popup .popup_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.visual_popup .popup .popup_item img.mo {
    display: none;
}
.visual_popup .popup .slick-dots {
    position: absolute; /*popup을 기준으로 정렬*/
    left: 50%;
    bottom: 22px;
    transform: translate(-50%, 0);
    display: flex;
}
.visual_popup .popup .slick-dots li {
    margin: 0 6px;
}
.visual_popup .popup .slick-dots li button {
    font-size: 0;
    line-height: 0;
    width: 31px;
    height: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}
.visual_popup .popup .slick-dots li.slick-active button {
    width: 47px;
    background-color: #fff;
} 
@media screen and (max-width: 1300px){

}
@media screen and (max-width: 1024){

}
@media screen and (max-width: 768px){
    .visual_popup .popup .popup_item {
        height: auto;
    }
    .visual_popup .popup .popup_item img.pc {
        display: none;
    }
    .visual_popup .popup .popup_item img.mo {
        display: block;
    }
}