@import url(default.css);
@import url(fonts.css);

/* 글자의 스타일은 상속받음, 기본글자의 스타일은 모든 태그를 감싸는 html과 body에 선언 */
html, body{
    font-family: 'Pretendard', sans-serif; 
    font-weight:400; 
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0em;
    color: #3d3d3d;
    word-break: keep-all;/* 단어별로 줄바꿈 */
}
.wrapper {/* 홈페이지 넓이 제한, 가운데 정렬 */
    width: 1260px;
    margin: 0px auto; /* 가운데 정렬 */
}
header {
    height: 100px;
}
header .wrapper { /* flex는 부모에게 주어야함, header는 조부모 */
    display: flex; /* 좌우 나란히 배치 */
    justify-content: space-between;
}
header .logo {
    margin: 17px 0 0 0;
}
header .gnb ul {
    display: flex;
}
header .gnb ul li a { /* 1차 메뉴는 큼직하게 눌려야 함, 여백 및 사이즈는 a한테 줘야함 */
    color: #1d1d1d;
    padding: 37px 22px; /* 마우스를 오버했을때 클릭커서가 뜨게 하기 위해 padding */
    display: block; /* a는 inline태그라서 padding 값이 안들어감 display: block; 줘야 들어감 */
}
header .gnb ul li a:hover {
    color: #4A5372;
    font-weight: 700;
    letter-spacing: -0.001px;/* mouseover시 자간이 넓어져서 막기위해 줌 */
}
.visual {
    height: 900px;
    background: url(../images/viz_bg.png) no-repeat center center / cover; /* backgtound 속성을 한번에 선언하는 방법 */
    color: rgba(255,255,255,0.8);
}
.visual strong {
    font-size: 15px;
    padding: 344px 0 0 0;
    display: flex;
    justify-content: end;
}
.visual h2 {
    font-size: 45px;
    font-weight: 700;
    display: flex;
    justify-content: end;
}