@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

.visual h2 {
    display: none; /*숨김*/
}
.visual ul li {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; /*브라우저 높이만큼*/
    color: #fff;
    text-align: right;
    min-height: 480px; /*최소높이, 브라우저 세로길이를 줄였을때 글자가 잘리는 것을 방지*/
}
.visual ul li.bg1 {
    background-image: url(..//images/main/bg1.png);
}
.visual ul li.bg2 {
    background-image: url(../images/main/bg2.png);
}
.visual ul li.bg3 {
    background-image: url(../images/main/bg3.png);
}
.visual ul li h3 {
    font-size: 50px;
    font-weight: 600;
    margin: 60vh 20vh 10vh 0;
}
.visual .btn_wrap {
    position: absolute; /*swiper를 기준으로 정렬*/  
    right: 20vh;
    bottom: 150px;
    z-index: 10;
    color: #fff;
    display: flex;
    align-items: center;
}
.visual .btn_wrap .paging {
    width: auto; /*swiper가 준 100% 크기를 빼줌*/
    display: flex;
}
.visual .btn_wrap .paging .swiper-pagination-bullet { /*현재 선택되지 않은 블릿*/
    width: 190px;
    height: 5px;
    border-radius: 0;
    background-color: rgba(157, 157, 157, 0.6);
    opacity: 1;
    position: relative;
}
.visual .btn_wrap .paging .swiper-pagination-bullet-active::before { /*현재 선택된 블릿*/
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #fff;
    content: "";
    animation-name: visual_count;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
@keyframes visual_count {
    0% {width: 0%;}
    100% {width: 100%;}
}
.visual .btn_wrap button {
    width: 24px;
    height: 24px;
    font-size: 0;
    line-height: 0;
    position: relative;
    margin-left: 10px;
    display: flex;
    align-items: center;
}
.visual .btn_wrap button::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.visual .btn_wrap .btn_prev::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_24_314' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_24_314)'%3E%3Cpath d='M14 18L8 12L14 6L15.4 7.4L10.8 12L15.4 16.6L14 18Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .btn_wrap .btn_play { /*숨김*/
    display: none;
}
.visual .btn_wrap .btn_play::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_24_308' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_24_308)'%3E%3Cpath d='M8 19V5L19 12L8 19ZM10 15.35L15.25 12L10 8.65V15.35Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .btn_wrap .btn_stop::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_24_311' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_24_311)'%3E%3Cpath d='M13 19V5H19V19H13ZM5 19V5H11V19H5ZM15 17H17V7H15V17ZM7 17H9V7H7V17Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .btn_wrap .btn_next::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_24_317' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect x='24' y='24' width='24' height='24' transform='rotate(-180 24 24)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_24_317)'%3E%3Cpath d='M10 6L16 12L10 18L8.6 16.6L13.2 12L8.6 7.4L10 6Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}

/*
좌에서 우로 한블럭이 슬라이드 하면서 움직이는 스타일 줄때
.visual ul li .bar {
    height : 1px;
    margin-top : 10px
    position :relative;
    background-cloror : #fff
}
.visual ul li .bar::before {
    position : absolute;
    left : 0;
    top : 0;
    width : 10%
    height : 1px
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
@keyframes visual_count {
    0% {left: 0;}
    100% {left:100%}
}

*/
@media screen and (max-width: 1300px){

}
@media screen and (max-width: 1024px){
    .visual ul li {
        height: 800px; /*브라우저 높이만큼*/
        min-height: auto
    }
    .visual ul li h3 {
        font-size: 35px;
        margin: 47vh 7vh 0 0;
    }
    .visual .btn_wrap {
        right: 6vh;
        bottom: 125px;
        z-index: 10;
        color: #fff;
        display: flex;
        align-items: center;
    }
    .visual .btn_wrap .paging .swiper-pagination-bullet { /*현재 선택되지 않은 블릿*/
        width: 120px;
        height: 5px;
        border-radius: 0;
    }
}
@media screen and (max-width: 768px){ /*mobile 디자인 적용*/
    .visual ul li {
        height: 400px; /*브라우저 높이만큼*/
        min-height: auto
    }
    .visual ul li h3 {
        font-size: 20px;
        margin: 24vh 3vh 5vh 0;
    }
    .visual .btn_wrap {
        position: absolute; /*swiper를 기준으로 정렬*/  
        right: 3vh;
        bottom: 40px;
        z-index: 10;
        color: #fff;
        display: flex;
        align-items: center;
    }
    .visual .btn_wrap .btn_next,
    .visual .btn_wrap .btn_prev {
        display: none;
    }
    .visual .btn_wrap .paging .swiper-pagination-bullet { /*현재 선택되지 않은 블릿*/
        width: 70px;
        height: 4px;
        border-radius: 0;
    }
    .visual .btn_wrap button {
        width: 20px;
        height: 20px;
    }
    .visual .btn_wrap button::before {
        margin-left: 7px;
    }
}
@media screen and (max-width: 560px){

}
section .tit h2 {
    font-size: 20px;
    color: #EA0C14;
    font-weight: 600;
    margin-top: 146px;
}
section .tit h2 span {
    position: relative;
}
section .tit h2 span::after {
    position: absolute;
    top: -11px;
    right: -30px;
    width: 23px;
    height: 23px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 9.13645C0 9.45911 0.0452965 9.78743 0.175528 10.0931C0.741752 11.4857 2.16298 12.3404 3.97489 11.6159C4.41088 11.4404 16.4148 6.60609 16.4148 6.60609C16.4148 6.60609 11.6869 18.5899 11.5113 19.0371C10.8205 20.7523 11.6472 22.309 13.0571 22.8355C13.3685 22.9487 13.6913 23.0053 14.014 22.9996C15.1578 22.994 16.1714 22.3147 16.664 20.9674C16.7432 20.7636 22.6546 4.53426 22.7848 4.13801C22.8584 3.91158 23 3.36814 23 2.98887C23 2.18505 22.6999 1.42651 22.128 0.854773C21.5618 0.288698 20.82 0 20.0217 0C19.6423 0 19.3252 0.0679289 18.8496 0.220769C18.5665 0.311341 3.32374 5.98341 2.02142 6.47023C0.713446 6.95706 0 7.99297 0 9.13645Z' fill='%23ED1C24'/%3E%3C/svg%3E%0A");
    content: "";
}
section .tit p {
    font-size: 40px;
    margin-bottom: 60px;
}
.biz .list ul {
    display: flex;
}
.biz .list ul li {
    width: 25%; /*4분의1*/
    color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; /*before의 기준이 됨*/
    transition: 0.5s;
}
.biz .list ul li.biz1 {
    background-image: url(../images/main/biz1.png);
}
.biz .list ul li.biz2 {
    background-image: url(../images/main/biz2.png);
}
.biz .list ul li.biz3 {
    background-image: url(../images/main/biz3.png);
}
.biz .list ul li.biz4 {
    background-image: url(../images/main/biz4.png);
}
.biz .list ul li::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.4;
    content: "";
}
.biz .list ul li a {
    display: block;
    height: 800px;
    position: relative;
    z-index: 10; /*li:before한테 준 검은색 배경때문에 글자가 뭍히는걸 방지*/
}
.biz .list ul li a .inner {
    position: absolute;
    left: 10%;
    bottom: 10px;
    width: 90%;
    transition: 0.5s;
}
.biz .list ul li a .inner h3 {
    font-size: 20px;
    transition: 0.5s;
}
.biz .list ul li a .inner strong {
    font-size: 30px;
    font-weight: 600;
    transition: 0.5s;
}
.biz .list ul li a .inner p {
    font-size: 20px;
    opacity: 0;
    transition: 0.5s;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media screen and (min-width: 1024px){ /*모바일 버전일때 마우스 오버한 효과 안들어가게 따로 분리해야함*/
    /*.biz .list ul li에 오버했을때 스타일*/
    .biz .list ul li.on::before {
        opacity: 0;
    }
    .biz .list ul li.off::before {
        opacity: 0.4;
    }
    .biz .list ul li.on {
        width: 70%;
    }
    /* .biz .list ul li.off {
        width: 16%; transition 줄때는 넓이를 주지 않는게 좋음
    } */
    .biz .list ul li.on a .inner {
        bottom: 70px;
    }
    .biz .list ul li.off .inner p {
        opacity: 0;
    }
    .biz .list ul li.off a {
        color: rgba(255, 255, 255, 0.4);
    }
    .biz .list ul li.off br {
        display: block;
    }
    .biz .list ul li.on .inner strong {
        font-size: 40px;
    }
    .biz .list ul li.on .inner p { 
        opacity: 1;
    }
}
@media screen and (max-width: 1300px){
    section .tit h2 {
        font-size: 17px;
    }
    section .tit p {
        font-size: 30px;
    }
}
@media screen and (max-width: 1024px){
    .biz .list ul {
        display: block;
    }
    .biz .list ul li {
        width: auto; 
    }
    .biz .list ul li br {
        display: none;
    }
    .biz .list ul li a {
        height: 200px;
    }
    .biz .list ul li a .inner {
        left: 5%;
        bottom: 22px;
        width: calc(100% - 10%);
    }
    .biz .list ul li a .inner h3 {
        font-size: 15px;
    }
    .biz .list ul li a .inner strong {
        font-size: 30px;
    }
    .biz .list ul li a .inner p {
        display: none;
    }
}
@media screen and (max-width: 768px){
    section .tit h2 {
        font-size: 13px;
        margin-top: 70px;
    }
    section .tit p {
        font-size: 15px;
        margin-bottom: 18px;
    }
    section .tit h2 span::after {
        top: -3px;
        right: -15px;
        width: 11px;
        height: 11px;
    }
    .biz .list ul {
        display: block;
    }
    .biz .list ul li {
        width: auto; 
    }
    .biz .list ul li br {
        display: none;
    }
    .biz .list ul li a {
        height: 100px;
    }
    .biz .list ul li a .inner {
        left: 5%;
        bottom: 12px;
        width: calc(100% - 10%);
    }
    .biz .list ul li a .inner h3 {
        font-size: 13px;
    }
    .biz .list ul li a .inner strong {
        font-size: 15px;
    }
    .biz .list ul li a .inner p {
        display: none;
    }
}
.news .list ul li a {
    display: block;
    border-top: 2px solid rgba(157, 157, 157, 0.6);
}
.news .list ul li a:hover {
    border-top: 2px solid #EA0C14;
}/*오버 스타일 border-top 이 두꺼워서 다른 영역에 위치가 변동 되는 경우 hover의 after나 bofore한테 position: relative; 줘서 스타일 적용r*/
.news .list ul li a .date {
    font-size: 30px;
    display: block;
    margin: 25px 0 13px 0;
}
.news .list ul li a h3 {
    font-size: 25px;
    line-height: 1.3;
    height: 2.6em; /*행간x줄수, 2줄제한*/
    overflow: hidden;
}
.news .list ul li a p {
    line-height: 1.3;
    height: 3.9em;
    font-size: 20px;
    color: rgba(61, 61, 61, 0.6);
    display: block;
    margin-top: 13px;
}
.news .controlbar {
    display: flex;
    justify-content: space-between;
    margin-top: 58px;
    margin-bottom: 166px;
}
.news .controlbar .scroll {
    position: relative; /*absolute 해제*/
    width: calc(100% - 214px); /*버튼들어갈 넓이를 뺀 나머지*/
}
.news .controlbar .scroll .swiper-scrollbar {
    left: 0;
    bottom: 12px;
    z-index: 50;
    height: 3px;
    width: 100%;
    border-radius: 0;
    background: rgba(157, 157, 157, 0.6);
}
.news .controlbar .scroll .swiper-scrollbar-drag {
    height: 6px;
    background: #EA0C14;
    border-radius: 50px;
    top: -2px;
    cursor: pointer;
}
.news .controlbar .btn_wrap {
    display: flex;
    gap: 5px;
}
.news .controlbar .btn_wrap button {
    width: 24px;
    height: 24px;
    font-size: 0;
    line-height: 0;
    border: 1px solid rgba(157, 157, 157, 0.6);
    border-radius: 50%;
    position: relative;
}
.news .controlbar .btn_wrap button:hover {
    background-color: #EA0C14;
    border-color: #EA0C14;
}
.news .controlbar .btn_wrap button::before {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 8px;
    height: 12px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12L0 6L6 0L7.4 1.4L2.8 6L7.4 10.6L6 12Z' fill='%239D9D9D' fill-opacity='0.6'/%3E%3C/svg%3E%0A");
    content: "";
    transform: translate(-50%, -50%)
}
.news .controlbar .btn_wrap button:hover:before { 
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12L0 6L6 0L7.4 1.4L2.8 6L7.4 10.6L6 12Z' fill='white'/%3E%3C/svg%3E%0A");
}
.news .controlbar .btn_wrap button.btn_next::before {
    transform: translate(-50%, -50%) rotate(180deg);
}
.news .controlbar .btn_wrap .more {
    width: 102px;
    height: 24px;
    line-height: 24px;
    color: rgba(157, 157, 157, 0.6);
    border: 1px solid rgba(157, 157, 157, 0.6);
    border-radius: 50px;
    padding-left: 33px;
    position: relative;
}
.news .controlbar .btn_wrap .more:hover {
    color: #fff;
    background-color: #EA0C14;
    border-color: #EA0C14;
}
.news .controlbar .btn_wrap .more::before {
    position: absolute;
    top: 2px;
    left: 11px;
    width: 18px;
    height: 18px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_36_261' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='18' height='18'%3E%3Crect width='18' height='18' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_36_261)'%3E%3Cpath d='M13.125 15.75H13.875V13.875H15.75V13.125H13.875V11.25H13.125V13.125H11.25V13.875H13.125V15.75ZM13.5 17.25C12.4625 17.25 11.5781 16.8844 10.8469 16.1531C10.1156 15.4219 9.75 14.5375 9.75 13.5C9.75 12.4625 10.1156 11.5781 10.8469 10.8469C11.5781 10.1156 12.4625 9.75 13.5 9.75C14.5375 9.75 15.4219 10.1156 16.1531 10.8469C16.8844 11.5781 17.25 12.4625 17.25 13.5C17.25 14.5375 16.8844 15.4219 16.1531 16.1531C15.4219 16.8844 14.5375 17.25 13.5 17.25ZM6.75 5.25V3.75H15.75V5.25H6.75ZM3.75 15C3.3375 15 2.98438 14.8531 2.69063 14.5594C2.39688 14.2656 2.25 13.9125 2.25 13.5C2.25 13.0875 2.39688 12.7344 2.69063 12.4406C2.98438 12.1469 3.3375 12 3.75 12C4.1625 12 4.51562 12.1469 4.80938 12.4406C5.10313 12.7344 5.25 13.0875 5.25 13.5C5.25 13.9125 5.10313 14.2656 4.80938 14.5594C4.51562 14.8531 4.1625 15 3.75 15ZM3.75 10.5C3.3375 10.5 2.98438 10.3531 2.69063 10.0594C2.39688 9.76563 2.25 9.4125 2.25 9C2.25 8.5875 2.39688 8.23438 2.69063 7.94063C2.98438 7.64687 3.3375 7.5 3.75 7.5C4.1625 7.5 4.51562 7.64687 4.80938 7.94063C5.10313 8.23438 5.25 8.5875 5.25 9C5.25 9.4125 5.10313 9.76563 4.80938 10.0594C4.51562 10.3531 4.1625 10.5 3.75 10.5ZM3.75 6C3.3375 6 2.98438 5.85313 2.69063 5.55938C2.39688 5.26562 2.25 4.9125 2.25 4.5C2.25 4.0875 2.39688 3.73438 2.69063 3.44063C2.98438 3.14688 3.3375 3 3.75 3C4.1625 3 4.51562 3.14688 4.80938 3.44063C5.10313 3.73438 5.25 4.0875 5.25 4.5C5.25 4.9125 5.10313 5.26562 4.80938 5.55938C4.51562 5.85313 4.1625 6 3.75 6ZM6.75 14.25V12.75H8.30625C8.26875 13 8.25 13.25 8.25 13.5C8.25 13.75 8.26875 14 8.30625 14.25H6.75ZM6.75 9.75V8.25H13.5C12.7875 8.25 12.1187 8.38438 11.4937 8.65312C10.8687 8.92188 10.3188 9.2875 9.84375 9.75H6.75Z' fill='%239D9D9D' fill-opacity='0.6'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
}
.news .controlbar .btn_wrap .more:hover:before {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_42_304' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='18' height='18'%3E%3Crect width='18' height='18' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_42_304)'%3E%3Cpath d='M13.125 15.75H13.875V13.875H15.75V13.125H13.875V11.25H13.125V13.125H11.25V13.875H13.125V15.75ZM13.5 17.25C12.4625 17.25 11.5781 16.8844 10.8469 16.1531C10.1156 15.4219 9.75 14.5375 9.75 13.5C9.75 12.4625 10.1156 11.5781 10.8469 10.8469C11.5781 10.1156 12.4625 9.75 13.5 9.75C14.5375 9.75 15.4219 10.1156 16.1531 10.8469C16.8844 11.5781 17.25 12.4625 17.25 13.5C17.25 14.5375 16.8844 15.4219 16.1531 16.1531C15.4219 16.8844 14.5375 17.25 13.5 17.25ZM6.75 5.25V3.75H15.75V5.25H6.75ZM3.75 15C3.3375 15 2.98438 14.8531 2.69063 14.5594C2.39688 14.2656 2.25 13.9125 2.25 13.5C2.25 13.0875 2.39688 12.7344 2.69063 12.4406C2.98438 12.1469 3.3375 12 3.75 12C4.1625 12 4.51562 12.1469 4.80938 12.4406C5.10313 12.7344 5.25 13.0875 5.25 13.5C5.25 13.9125 5.10313 14.2656 4.80938 14.5594C4.51562 14.8531 4.1625 15 3.75 15ZM3.75 10.5C3.3375 10.5 2.98438 10.3531 2.69063 10.0594C2.39688 9.76563 2.25 9.4125 2.25 9C2.25 8.5875 2.39688 8.23438 2.69063 7.94063C2.98438 7.64687 3.3375 7.5 3.75 7.5C4.1625 7.5 4.51562 7.64687 4.80938 7.94063C5.10313 8.23438 5.25 8.5875 5.25 9C5.25 9.4125 5.10313 9.76563 4.80938 10.0594C4.51562 10.3531 4.1625 10.5 3.75 10.5ZM3.75 6C3.3375 6 2.98438 5.85313 2.69063 5.55938C2.39688 5.26562 2.25 4.9125 2.25 4.5C2.25 4.0875 2.39688 3.73438 2.69063 3.44063C2.98438 3.14688 3.3375 3 3.75 3C4.1625 3 4.51562 3.14688 4.80938 3.44063C5.10313 3.73438 5.25 4.0875 5.25 4.5C5.25 4.9125 5.10313 5.26562 4.80938 5.55938C4.51562 5.85313 4.1625 6 3.75 6ZM6.75 14.25V12.75H8.30625C8.26875 13 8.25 13.25 8.25 13.5C8.25 13.75 8.26875 14 8.30625 14.25H6.75ZM6.75 9.75V8.25H13.5C12.7875 8.25 12.1187 8.38438 11.4937 8.65312C10.8687 8.92188 10.3188 9.2875 9.84375 9.75H6.75Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
@media screen and (max-width: 768px){
    .news .list ul li a .date {
        font-size: 20px;
        margin: 24px 0 10px 0;
    }
    .news .list ul li a h3 {
        font-size: 17px;
    }
    .news .list ul li a p {
        font-size: 13px;
    }
    .news .controlbar {
        margin-top: 32px;
        margin-bottom: 128px;
    }
    .news .controlbar .scroll {
        width: 100% 
    }
    .news .controlbar {
        display: block;
        margin-top: 70px;
        margin-bottom: 128px;
    }
    .news .controlbar .btn_wrap {
        gap: 0;
        justify-content: center;
    }
    .news .controlbar .scroll .swiper-scrollbar {
        bottom: 33px;
    }
    .news .controlbar .btn_wrap button {
        display: none;
    }
    .news .controlbar .btn_wrap .more {
        width: 90px;
        height: 24px;
        line-height: 24px;
        border-radius: 50px;
        padding-left: 30px;
    }
    .news .controlbar .btn_wrap .more::before {
        position: absolute;
        top: 4px;
        left: 11px;
        width: 15px;
        height: 15px;
    }
}
.service {
    padding: 113px 0 155px 0;
    background-image: url(../images/main/service_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #3d3d3d;
}
.service h2 {
    display: none;
}
section .service .tit p {
    font-size: 45px;
}
.service .wrapper .list ul {
    display: flex;
    justify-content: space-between;
}
.service .wrapper .list ul li {
    width: calc(33.3% - 16px);
}
.service .wrapper .list ul li a {
    display: block;
    height: 125px;
    background-color: rgba(255, 255, 255, 0.4);
    transition: 0.5s;
}
.service .wrapper .list ul li:hover a { /*transition 준거 덜커덕거리는 오류 없애기 위해 li에 한테 hover를 줘서 영역을 잡아줌*/
    transform: translate(-10px, -10px);
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
}
.service .wrapper .list ul li a strong {
    font-size: 30px;
    font-weight: 600;
}
.service .wrapper .list ul li a p {
    font-weight: 600;
}