@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

.visual h2 {
    display: none; /*숨김*/
}
.visual ul li {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; /*브라우저 높이만큼*/
    color: #fff;
    text-align: right;
    min-height: 480px; /*최소높이, 브라우저 세로길이를 줄였을때 글자가 잘리는 것을 방지*/
}
.visual ul li.bg1 {
    background-image: url(..//images/main/bg1.png);
}
.visual ul li.bg2 {
    background-image: url(../images/main/bg2.png);
}
.visual ul li.bg3 {
    background-image: url(../images/main/bg3.png);
}
.visual ul li h3 {
    font-size: 50px;
    font-weight: 600;
    margin: 550px 20vh 0 0;
}
.visual .btn_wrap {
    position: absolute; /*swiper를 기준으로 정렬*/  
    right: 20vh;
    bottom: 150px;
    z-index: 10;
    color: #fff;
    display: flex;
    align-items: center;
}
.visual .btn_wrap .paging {
    width: auto; /*swiper가 준 100% 크기를 빼줌*/
    display: flex;
}
.visual .btn_wrap .paging .swiper-pagination-bullet { /*현재 선택되지 않은 블릿*/
    width: 190px;
    height: 5px;
    border-radius: 0;
    background-color: rgba(157, 157, 157, 0.6);
    opacity: 1;
    position: relative;
}
.visual .btn_wrap .paging .swiper-pagination-bullet-active::before { /*현재 선택된 블릿*/
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #fff;
    content: "";
    animation-name: visual_count;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
@keyframes visual_count {
    0% {width: 0%;}
    100% {width: 100%;}
}
.visual .btn_wrap button {
    width: 24px;
    height: 24px;
    font-size: 0;
    line-height: 0;
    position: relative;
    margin-left: 10px;
    display: flex;
    align-items: center;
}
.visual .btn_wrap button::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.visual .btn_wrap .btn_prev::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_24_314' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_24_314)'%3E%3Cpath d='M14 18L8 12L14 6L15.4 7.4L10.8 12L15.4 16.6L14 18Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .btn_wrap .btn_play { /*숨김*/
    display: none;
}
.visual .btn_wrap .btn_play::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_24_308' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_24_308)'%3E%3Cpath d='M8 19V5L19 12L8 19ZM10 15.35L15.25 12L10 8.65V15.35Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .btn_wrap .btn_stop::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_24_311' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_24_311)'%3E%3Cpath d='M13 19V5H19V19H13ZM5 19V5H11V19H5ZM15 17H17V7H15V17ZM7 17H9V7H7V17Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .btn_wrap .btn_next::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_24_317' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect x='24' y='24' width='24' height='24' transform='rotate(-180 24 24)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_24_317)'%3E%3Cpath d='M10 6L16 12L10 18L8.6 16.6L13.2 12L8.6 7.4L10 6Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}

/*
좌에서 우로 한블럭이 슬라이드 하면서 움직이는 스타일 줄때
.visual ul li .bar {
    height : 1px;
    margin-top : 10px
    position :relative;
    background-cloror : #fff
}
.visual ul li .bar::before {
    position : absolute;
    left : 0;
    top : 0;
    width : 10%
    height : 1px
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
@keyframes visual_count {
    0% {left: 0;}
    100% {left:100%}
}

*/
@media screen and (max-width: 1300px){

}
@media screen and (max-width: 1024px){
    .visual ul li {
        height: 800px; /*브라우저 높이만큼*/
        min-height: auto
    }
    .visual ul li h3 {
        font-size: 35px;
        margin: 470px 7vh 0 0;
    }
    .visual .btn_wrap {
        right: 6vh;
        bottom: 125px;
        z-index: 10;
        color: #fff;
        display: flex;
        align-items: center;
    }
    .visual .btn_wrap .paging .swiper-pagination-bullet { /*현재 선택되지 않은 블릿*/
        width: 120px;
        height: 5px;
        border-radius: 0;
    }
}
@media screen and (max-width: 768px){ /*mobile 디자인 적용*/
    .visual ul li {
        height: 400px; /*브라우저 높이만큼*/
        min-height: auto
    }
    .visual ul li h3 {
        font-size: 20px;
        margin: 240px 3vh 0 0;
    }
    .visual .btn_wrap {
        position: absolute; /*swiper를 기준으로 정렬*/  
        right: 3vh;
        bottom: 40px;
        z-index: 10;
        color: #fff;
        display: flex;
        align-items: center;
    }
    .visual .btn_wrap .btn_next,
    .visual .btn_wrap .btn_prev {
        display: none;
    }
    .visual .btn_wrap .paging .swiper-pagination-bullet { /*현재 선택되지 않은 블릿*/
        width: 70px;
        height: 4px;
        border-radius: 0;
    }
    .visual .btn_wrap button {
        width: 20px;
        height: 20px;
    }
    .visual .btn_wrap button::before {
        margin-left: 7px;
    }
}
@media screen and (max-width: 560px){

}
section .tit h2 {
    font-size: 20px;
    color: #EA0C14;
    font-weight: 600;
    margin-top: 146px;
}
section .tit h2 span {
    position: relative;
}
section .tit h2 span::after {
    position: absolute;
    top: -11px;
    right: -30px;
    width: 23px;
    height: 23px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 9.13645C0 9.45911 0.0452965 9.78743 0.175528 10.0931C0.741752 11.4857 2.16298 12.3404 3.97489 11.6159C4.41088 11.4404 16.4148 6.60609 16.4148 6.60609C16.4148 6.60609 11.6869 18.5899 11.5113 19.0371C10.8205 20.7523 11.6472 22.309 13.0571 22.8355C13.3685 22.9487 13.6913 23.0053 14.014 22.9996C15.1578 22.994 16.1714 22.3147 16.664 20.9674C16.7432 20.7636 22.6546 4.53426 22.7848 4.13801C22.8584 3.91158 23 3.36814 23 2.98887C23 2.18505 22.6999 1.42651 22.128 0.854773C21.5618 0.288698 20.82 0 20.0217 0C19.6423 0 19.3252 0.0679289 18.8496 0.220769C18.5665 0.311341 3.32374 5.98341 2.02142 6.47023C0.713446 6.95706 0 7.99297 0 9.13645Z' fill='%23ED1C24'/%3E%3C/svg%3E%0A");
    content: "";
}
section .tit p {
    font-size: 40px;
    margin-bottom: 60px;
}
.biz .list ul {
    display: flex;
}
.biz .list ul li {
    width: 25%; /*4분의1*/
    color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; /*before의 기준이 됨*/
    transition: 0.5s;
}
.biz .list ul li.biz1 {
    background-image: url(../images/main/biz1.png);
}
.biz .list ul li.biz2 {
    background-image: url(../images/main/biz2.png);
}
.biz .list ul li.biz3 {
    background-image: url(../images/main/biz3.png);
}
.biz .list ul li.biz4 {
    background-image: url(../images/main/biz4.png);
}
.biz .list ul li::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.4;
    content: "";
}
.biz .list ul li a {
    display: block;
    height: 800px;
    position: relative;
    z-index: 10; /*li:before한테 준 검은색 배경때문에 글자가 뭍히는걸 방지*/
}
.biz .list ul li a .inner {
    position: absolute;
    left: 10%;
    bottom: 10px;
    width: 90%;
    transition: 0.5s;
}
.biz .list ul li a .inner h3 {
    font-size: 20px;
    transition: 0.5s;
}
.biz .list ul li a .inner strong {
    font-size: 30px;
    font-weight: 600;
    transition: 0.5s;
}
.biz .list ul li a .inner p {
    font-size: 20px;
    opacity: 0;
    transition: 0.5s;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media screen and (min-width: 1024px){ /*모바일 버전일때 마우스 오버한 효과 안들어가게 따로 분리해야함*/
    /*.biz .list ul li에 오버했을때 스타일*/
    .biz .list ul li.on::before {
        opacity: 0;
    }
    .biz .list ul li.off::before {
        opacity: 0.4;
    }
    .biz .list ul li.on {
        width: 70%;
    }
    /* .biz .list ul li.off {
        width: 16%; transition 줄때는 넓이를 주지 않는게 좋음
    } */
    .biz .list ul li.on a .inner {
        bottom: 70px;
    }
    .biz .list ul li.off .inner p {
        opacity: 0;
    }
    .biz .list ul li.off a {
        color: rgba(255, 255, 255, 0.4);
    }
    .biz .list ul li.off br {
        display: block;
    }
    .biz .list ul li.on .inner strong {
        font-size: 40px;
    }
    .biz .list ul li.on .inner p { 
        opacity: 1;
    }
}
@media screen and (max-width: 1300px){
    section .tit h2 {
        font-size: 17px;
    }
    section .tit p {
        font-size: 30px;
    }
}
@media screen and (max-width: 1024px){
    .biz .list ul {
        display: block;
    }
    .biz .list ul li {
        width: auto; 
    }
    .biz .list ul li br {
        display: none;
    }
    .biz .list ul li a {
        height: 200px;
    }
    .biz .list ul li a .inner {
        left: 5%;
        bottom: 22px;
        width: calc(100% - 10%);
    }
    .biz .list ul li a .inner h3 {
        font-size: 15px;
    }
    .biz .list ul li a .inner strong {
        font-size: 30px;
    }
    .biz .list ul li a .inner p {
        display: none;
    }
}
@media screen and (max-width: 768px){
    section .tit h2 {
        font-size: 13px;
        margin-top: 70px;
    }
    section .tit p {
        font-size: 15px;
        margin-bottom: 18px;
    }
    section .tit h2 span::after {
        top: -3px;
        right: -15px;
        width: 11px;
        height: 11px;
    }
    .biz .list ul {
        display: block;
    }
    .biz .list ul li {
        width: auto; 
    }
    .biz .list ul li br {
        display: none;
    }
    .biz .list ul li a {
        height: 100px;
    }
    .biz .list ul li a .inner {
        left: 5%;
        bottom: 12px;
        width: calc(100% - 10%);
    }
    .biz .list ul li a .inner h3 {
        font-size: 13px;
    }
    .biz .list ul li a .inner strong {
        font-size: 15px;
    }
    .biz .list ul li a .inner p {
        display: none;
    }
}
.news .list ul li a {
    display: block;
    border-top: 2px solid rgba(157, 157, 157, 0.6);
}
.news .list ul li a:hover {
    border-top: 2px solid #EA0C14;
}/*오버 스타일 border-top 이 두꺼워서 다른 영역에 위치가 변동 되는 경우 hover의 after나 bofore한테 position: relative; 줘서 스타일 적용r*/
.news .list ul li a .date {
    font-size: 30px;
    display: block;
    margin: 25px 0 13px 0;
}
.news .list ul li a h3 {
    font-size: 25px;
    line-height: 1.3;
    height: 2.6em; /*행간x줄수, 2줄제한*/
    overflow: hidden;
}
.news .list ul li a p {
    line-height: 1.3;
    height: 3.9em;
    font-size: 20px;
    color: rgba(61, 61, 61, 0.6);
    display: block;
    margin-top: 13px;
}
.news .controlbar {
    display: flex;
    justify-content: space-between;
    margin-top: 58px;
    margin-bottom: 166px;
}
.news .controlbar .scroll {
    position: relative; /*absolute 해제*/
    width: calc(100% - 214px); /*버튼들어갈 넓이를 뺀 나머지*/
}
.news .controlbar .scroll .swiper-scrollbar {
    left: 0;
    bottom: 12px;
    z-index: 50;
    height: 3px;
    width: 100%;
    border-radius: 0;
    background: rgba(157, 157, 157, 0.6);
}
.news .controlbar .scroll .swiper-scrollbar-drag {
    height: 6px;
    background: #EA0C14;
    border-radius: 50px;
    top: -2px;
    cursor: pointer;
}
.news .controlbar .btn_wrap {
    display: flex;
    gap: 5px;
}
.news .controlbar .btn_wrap button {
    width: 24px;
    height: 24px;
    font-size: 0;
    line-height: 0;
    border: 1px solid rgba(157, 157, 157, 0.6);
    border-radius: 50%;
    position: relative;
}
.news .controlbar .btn_wrap button:hover {
    border-color: #EA0C14;
}
.news .controlbar .btn_wrap button::before {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 8px;
    height: 12px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12L0 6L6 0L7.4 1.4L2.8 6L7.4 10.6L6 12Z' fill='%239D9D9D' fill-opacity='0.6'/%3E%3C/svg%3E%0A");
    content: "";
    transform: translate(-50%, -50%)
}
.news .controlbar .btn_wrap button:hover:before { 
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12L0 6L6 0L7.4 1.4L2.8 6L7.4 10.6L6 12Z' fill='%23EA0C14'/%3E%3C/svg%3E%0A");
}
.news .controlbar .btn_wrap button.btn_next::before {
    transform: translate(-50%, -50%) rotate(180deg);
}
.news .controlbar .btn_wrap .more {
    width: 102px;
    height: 24px;
    line-height: 24px;
    color: rgba(157, 157, 157, 0.6);
    border: 1px solid rgba(157, 157, 157, 0.6);
    border-radius: 50px;
    padding-left: 33px;
    position: relative;
}
.news .controlbar .btn_wrap .more:hover {
    background-color: #fff;
    color: #EA0C14;
    border-color: #EA0C14;
}
.news .controlbar .btn_wrap .more::before {
    position: absolute;
    top: 2px;
    left: 11px;
    width: 18px;
    height: 18px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_36_261' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='18' height='18'%3E%3Crect width='18' height='18' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_36_261)'%3E%3Cpath d='M13.125 15.75H13.875V13.875H15.75V13.125H13.875V11.25H13.125V13.125H11.25V13.875H13.125V15.75ZM13.5 17.25C12.4625 17.25 11.5781 16.8844 10.8469 16.1531C10.1156 15.4219 9.75 14.5375 9.75 13.5C9.75 12.4625 10.1156 11.5781 10.8469 10.8469C11.5781 10.1156 12.4625 9.75 13.5 9.75C14.5375 9.75 15.4219 10.1156 16.1531 10.8469C16.8844 11.5781 17.25 12.4625 17.25 13.5C17.25 14.5375 16.8844 15.4219 16.1531 16.1531C15.4219 16.8844 14.5375 17.25 13.5 17.25ZM6.75 5.25V3.75H15.75V5.25H6.75ZM3.75 15C3.3375 15 2.98438 14.8531 2.69063 14.5594C2.39688 14.2656 2.25 13.9125 2.25 13.5C2.25 13.0875 2.39688 12.7344 2.69063 12.4406C2.98438 12.1469 3.3375 12 3.75 12C4.1625 12 4.51562 12.1469 4.80938 12.4406C5.10313 12.7344 5.25 13.0875 5.25 13.5C5.25 13.9125 5.10313 14.2656 4.80938 14.5594C4.51562 14.8531 4.1625 15 3.75 15ZM3.75 10.5C3.3375 10.5 2.98438 10.3531 2.69063 10.0594C2.39688 9.76563 2.25 9.4125 2.25 9C2.25 8.5875 2.39688 8.23438 2.69063 7.94063C2.98438 7.64687 3.3375 7.5 3.75 7.5C4.1625 7.5 4.51562 7.64687 4.80938 7.94063C5.10313 8.23438 5.25 8.5875 5.25 9C5.25 9.4125 5.10313 9.76563 4.80938 10.0594C4.51562 10.3531 4.1625 10.5 3.75 10.5ZM3.75 6C3.3375 6 2.98438 5.85313 2.69063 5.55938C2.39688 5.26562 2.25 4.9125 2.25 4.5C2.25 4.0875 2.39688 3.73438 2.69063 3.44063C2.98438 3.14688 3.3375 3 3.75 3C4.1625 3 4.51562 3.14688 4.80938 3.44063C5.10313 3.73438 5.25 4.0875 5.25 4.5C5.25 4.9125 5.10313 5.26562 4.80938 5.55938C4.51562 5.85313 4.1625 6 3.75 6ZM6.75 14.25V12.75H8.30625C8.26875 13 8.25 13.25 8.25 13.5C8.25 13.75 8.26875 14 8.30625 14.25H6.75ZM6.75 9.75V8.25H13.5C12.7875 8.25 12.1187 8.38438 11.4937 8.65312C10.8687 8.92188 10.3188 9.2875 9.84375 9.75H6.75Z' fill='%239D9D9D' fill-opacity='0.6'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
}
.news .controlbar .btn_wrap .more:hover:before {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_49_340' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='18' height='18'%3E%3Crect width='18' height='18' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_49_340)'%3E%3Cpath d='M13.125 15.75H13.875V13.875H15.75V13.125H13.875V11.25H13.125V13.125H11.25V13.875H13.125V15.75ZM13.5 17.25C12.4625 17.25 11.5781 16.8844 10.8469 16.1531C10.1156 15.4219 9.75 14.5375 9.75 13.5C9.75 12.4625 10.1156 11.5781 10.8469 10.8469C11.5781 10.1156 12.4625 9.75 13.5 9.75C14.5375 9.75 15.4219 10.1156 16.1531 10.8469C16.8844 11.5781 17.25 12.4625 17.25 13.5C17.25 14.5375 16.8844 15.4219 16.1531 16.1531C15.4219 16.8844 14.5375 17.25 13.5 17.25ZM6.75 5.25V3.75H15.75V5.25H6.75ZM3.75 15C3.3375 15 2.98438 14.8531 2.69063 14.5594C2.39688 14.2656 2.25 13.9125 2.25 13.5C2.25 13.0875 2.39688 12.7344 2.69063 12.4406C2.98438 12.1469 3.3375 12 3.75 12C4.1625 12 4.51562 12.1469 4.80938 12.4406C5.10313 12.7344 5.25 13.0875 5.25 13.5C5.25 13.9125 5.10313 14.2656 4.80938 14.5594C4.51562 14.8531 4.1625 15 3.75 15ZM3.75 10.5C3.3375 10.5 2.98438 10.3531 2.69063 10.0594C2.39688 9.76563 2.25 9.4125 2.25 9C2.25 8.5875 2.39688 8.23438 2.69063 7.94063C2.98438 7.64687 3.3375 7.5 3.75 7.5C4.1625 7.5 4.51562 7.64687 4.80938 7.94063C5.10313 8.23438 5.25 8.5875 5.25 9C5.25 9.4125 5.10313 9.76563 4.80938 10.0594C4.51562 10.3531 4.1625 10.5 3.75 10.5ZM3.75 6C3.3375 6 2.98438 5.85313 2.69063 5.55938C2.39688 5.26562 2.25 4.9125 2.25 4.5C2.25 4.0875 2.39688 3.73438 2.69063 3.44063C2.98438 3.14688 3.3375 3 3.75 3C4.1625 3 4.51562 3.14688 4.80938 3.44063C5.10313 3.73438 5.25 4.0875 5.25 4.5C5.25 4.9125 5.10313 5.26562 4.80938 5.55938C4.51562 5.85313 4.1625 6 3.75 6ZM6.75 14.25V12.75H8.30625C8.26875 13 8.25 13.25 8.25 13.5C8.25 13.75 8.26875 14 8.30625 14.25H6.75ZM6.75 9.75V8.25H13.5C12.7875 8.25 12.1187 8.38438 11.4937 8.65312C10.8687 8.92188 10.3188 9.2875 9.84375 9.75H6.75Z' fill='%23EA0C14'/%3E%3C/g%3E%3C/svg%3E%0A");
}
@media screen and (max-width: 768px){
    .news .list ul li a .date {
        font-size: 20px;
        margin: 24px 0 10px 0;
    }
    .news .list ul li a h3 {
        font-size: 17px;
    }
    .news .list ul li a p {
        font-size: 13px;
    }
    .news .controlbar {
        margin-top: 32px;
        margin-bottom: 128px;
    }
    .news .controlbar .scroll {
        width: 100% 
    }
    .news .controlbar {
        display: block;
        margin-top: 70px;
        margin-bottom: 68px;
    }
    .news .controlbar .btn_wrap {
        gap: 0;
        justify-content: center;
    }
    .news .controlbar .scroll .swiper-scrollbar {
        bottom: 33px;
    }
    .news .controlbar .btn_wrap button {
        display: none;
    }
    .news .controlbar .btn_wrap .more {
        width: 90px;
        height: 24px;
        line-height: 24px;
        border-radius: 50px;
        padding-left: 30px;
    }
    .news .controlbar .btn_wrap .more::before {
        position: absolute;
        top: 4px;
        left: 11px;
        width: 15px;
        height: 15px;
    }
}
.service {
    padding: 113px 0 155px 0;
    background-image: url(../images/main/service_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #3d3d3d;
}
.service h2 {
    display: none;
}
section .service .tit p {
    font-size: 45px;
}
.service .wrapper .list ul {
    display: flex;
    justify-content: space-between;
}
.service .wrapper .list ul li {
    width: calc(33.3% - 16px);
}
.service .wrapper .list ul li a {
    display: block;
    height: 125px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: 0.5s;
    text-align: center;
}
.service .wrapper .list ul li:hover a { /*transition 준거 덜커덕거리는 오류 없애기 위해 li에 한테 hover를 줘서 영역을 잡아줌*/
    transform: translate(-10px, -10px);
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
}
.service .wrapper .list ul li a .inner {
    /* margin: 0px 90px 0px 47px; */
    padding: 37px 40px 0 72px;
    position: relative;
    display: inline-block;
    text-align: left;
}
.service .wrapper .list ul li a .inner::before {
    position: absolute;
    left: 15px;
    top: 40px;
    width: 50px;
    height: 50px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.service .wrapper .list ul li.esg a .inner::before {
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_49_280' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='50' height='50'%3E%3Crect width='50' height='50' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_49_280)'%3E%3Cpath d='M24.7396 41.666C24.8785 41.666 25.0174 41.6313 25.1562 41.5618C25.2951 41.4924 25.3993 41.423 25.4687 41.3535L42.5521 24.2702C42.9688 23.8535 43.2726 23.3848 43.4635 22.8639C43.6545 22.3431 43.75 21.8223 43.75 21.3014C43.75 20.7459 43.6545 20.2164 43.4635 19.7129C43.2726 19.2094 42.9688 18.7667 42.5521 18.3848L33.6979 9.5306C33.316 9.11393 32.8733 8.81011 32.3698 8.61914C31.8663 8.42817 31.3368 8.33268 30.7812 8.33268C30.2604 8.33268 29.7396 8.42817 29.2188 8.61914C28.6979 8.81011 28.2292 9.11393 27.8125 9.5306L27.2396 10.1035L31.0938 14.0098C31.6146 14.4959 31.9965 15.0514 32.2396 15.6764C32.4826 16.3014 32.6042 16.9612 32.6042 17.6556C32.6042 19.1139 32.1094 20.3379 31.1198 21.3275C30.1302 22.3171 28.9062 22.8118 27.4479 22.8118C26.7535 22.8118 26.0851 22.6903 25.4427 22.4473C24.8003 22.2042 24.2361 21.8396 23.75 21.3535L19.8437 17.4993L10.7292 26.6139C10.625 26.7181 10.5469 26.8309 10.4948 26.9525C10.4427 27.074 10.4167 27.2042 10.4167 27.3431C10.4167 27.6209 10.5208 27.8726 10.7292 28.0983C10.9375 28.324 11.1806 28.4368 11.4583 28.4368C11.5972 28.4368 11.7361 28.4021 11.875 28.3327C12.0139 28.2632 12.1181 28.1938 12.1875 28.1243L19.2708 21.041L22.1875 23.9577L15.1562 31.041C15.0521 31.1452 14.974 31.258 14.9219 31.3796C14.8698 31.5011 14.8437 31.6313 14.8437 31.7702C14.8437 32.048 14.9479 32.291 15.1562 32.4993C15.3646 32.7077 15.6076 32.8118 15.8854 32.8118C16.0243 32.8118 16.1632 32.7771 16.3021 32.7077C16.441 32.6382 16.5451 32.5688 16.6146 32.4993L23.6979 25.4681L26.6146 28.3848L19.5833 35.4681C19.4792 35.5375 19.401 35.6417 19.349 35.7806C19.2969 35.9195 19.2708 36.0584 19.2708 36.1973C19.2708 36.475 19.375 36.7181 19.5833 36.9264C19.7917 37.1348 20.0347 37.2389 20.3125 37.2389C20.4514 37.2389 20.5816 37.2129 20.7031 37.1608C20.8247 37.1087 20.9375 37.0306 21.0417 36.9264L28.125 29.8952L31.0417 32.8118L23.9583 39.8952C23.8542 39.9993 23.776 40.1122 23.724 40.2337C23.6719 40.3553 23.6458 40.4855 23.6458 40.6243C23.6458 40.9021 23.7587 41.1452 23.9844 41.3535C24.2101 41.5618 24.4618 41.666 24.7396 41.666ZM24.6875 45.8327C23.4028 45.8327 22.2656 45.4073 21.276 44.5566C20.2865 43.7059 19.7049 42.6382 19.5312 41.3535C18.3507 41.1799 17.3611 40.6938 16.5625 39.8952C15.7639 39.0966 15.2778 38.107 15.1042 36.9264C13.9236 36.7528 12.9427 36.258 12.1615 35.4421C11.3802 34.6261 10.9028 33.6452 10.7292 32.4993C9.40972 32.3257 8.33333 31.7528 7.5 30.7806C6.66667 29.8084 6.25 28.6625 6.25 27.3431C6.25 26.6487 6.38021 25.9803 6.64062 25.3379C6.90104 24.6955 7.27431 24.1313 7.76042 23.6452L19.8437 11.6139L26.6667 18.4368C26.7361 18.541 26.8403 18.6191 26.9792 18.6712C27.1181 18.7233 27.2569 18.7493 27.3958 18.7493C27.7083 18.7493 27.9687 18.6539 28.1771 18.4629C28.3854 18.2719 28.4896 18.0202 28.4896 17.7077C28.4896 17.5688 28.4635 17.4299 28.4115 17.291C28.3594 17.1521 28.2812 17.048 28.1771 16.9785L20.7292 9.5306C20.3472 9.11393 19.9045 8.81011 19.401 8.61914C18.8976 8.42817 18.3681 8.33268 17.8125 8.33268C17.2917 8.33268 16.7708 8.42817 16.25 8.61914C15.7292 8.81011 15.2604 9.11393 14.8437 9.5306L7.5 16.9264C7.1875 17.2389 6.92708 17.6035 6.71875 18.0202C6.51042 18.4368 6.37153 18.8535 6.30208 19.2702C6.23264 19.6868 6.23264 20.1122 6.30208 20.5462C6.37153 20.9803 6.51042 21.3882 6.71875 21.7702L3.69792 24.791C3.10764 23.9924 2.67361 23.1157 2.39583 22.1608C2.11806 21.2059 2.01389 20.2424 2.08333 19.2702C2.15278 18.298 2.39583 17.3518 2.8125 16.4316C3.22917 15.5115 3.80208 14.6868 4.53125 13.9577L11.875 6.61393C12.7083 5.81532 13.6372 5.20768 14.6615 4.79102C15.6858 4.37435 16.7361 4.16602 17.8125 4.16602C18.8889 4.16602 19.9392 4.37435 20.9635 4.79102C21.9878 5.20768 22.8993 5.81532 23.6979 6.61393L24.2708 7.18685L24.8438 6.61393C25.6771 5.81532 26.6059 5.20768 27.6302 4.79102C28.6545 4.37435 29.7049 4.16602 30.7812 4.16602C31.8576 4.16602 32.908 4.37435 33.9323 4.79102C34.9566 5.20768 35.8681 5.81532 36.6667 6.61393L45.4688 15.416C46.2674 16.2146 46.875 17.1348 47.2917 18.1764C47.7083 19.2181 47.9167 20.2771 47.9167 21.3535C47.9167 22.4299 47.7083 23.4803 47.2917 24.5046C46.875 25.5289 46.2674 26.4403 45.4688 27.2389L28.3854 44.2702C27.8993 44.7563 27.3351 45.1382 26.6927 45.416C26.0503 45.6938 25.3819 45.8327 24.6875 45.8327Z' fill='%233D3D3D'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.service .wrapper .list ul li.inv a .inner::before {
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_49_283' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='50' height='50'%3E%3Crect width='50' height='50' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_49_283)'%3E%3Cpath d='M23.1244 39.5837H26.7702V36.9795C28.5063 36.667 29.9994 35.9899 31.2494 34.9482C32.4994 33.9066 33.1244 32.3614 33.1244 30.3128C33.1244 28.8545 32.7077 27.5177 31.8744 26.3024C31.041 25.0871 29.3744 24.0281 26.8744 23.1253C24.791 22.4309 23.35 21.8232 22.5514 21.3024C21.7528 20.7816 21.3535 20.0698 21.3535 19.167C21.3535 18.2642 21.6747 17.5524 22.3171 17.0316C22.9594 16.5107 23.8882 16.2503 25.1035 16.2503C26.2146 16.2503 27.0827 16.5194 27.7077 17.0576C28.3327 17.5958 28.7841 18.2642 29.0618 19.0628L32.3952 17.7087C32.0132 16.4934 31.3101 15.4344 30.2858 14.5316C29.2615 13.6288 28.1244 13.1253 26.8744 13.0212V10.417H23.2285V13.0212C21.4924 13.4031 20.1382 14.167 19.166 15.3128C18.1938 16.4587 17.7077 17.7434 17.7077 19.167C17.7077 20.7989 18.1851 22.1184 19.14 23.1253C20.0948 24.1323 21.5966 25.0003 23.6452 25.7295C25.8327 26.5281 27.3518 27.2399 28.2025 27.8649C29.0532 28.4899 29.4785 29.3059 29.4785 30.3128C29.4785 31.4587 29.0705 32.3007 28.2546 32.8389C27.4386 33.3771 26.4577 33.6462 25.3119 33.6462C24.166 33.6462 23.1504 33.2903 22.265 32.5785C21.3796 31.8666 20.7285 30.7989 20.3118 29.3753L16.8743 30.7295C17.3605 32.3962 18.1157 33.7416 19.14 34.766C20.1643 35.7903 21.4924 36.4934 23.1244 36.8753V39.5837ZM24.9994 45.8337C22.1174 45.8337 19.4091 45.2868 16.8743 44.193C14.3396 43.0993 12.1348 41.6149 10.2598 39.7399C8.38477 37.8649 6.90039 35.6601 5.80664 33.1253C4.71289 30.5906 4.16602 27.8823 4.16602 25.0003C4.16602 22.1184 4.71289 19.41 5.80664 16.8753C6.90039 14.3406 8.38477 12.1357 10.2598 10.2607C12.1348 8.38574 14.3396 6.90137 16.8743 5.80762C19.4091 4.71387 22.1174 4.16699 24.9994 4.16699C27.8813 4.16699 30.5896 4.71387 33.1244 5.80762C35.6591 6.90137 37.8639 8.38574 39.7389 10.2607C41.6139 12.1357 43.0983 14.3406 44.1921 16.8753C45.2858 19.41 45.8327 22.1184 45.8327 25.0003C45.8327 27.8823 45.2858 30.5906 44.1921 33.1253C43.0983 35.6601 41.6139 37.8649 39.7389 39.7399C37.8639 41.6149 35.6591 43.0993 33.1244 44.193C30.5896 45.2868 27.8813 45.8337 24.9994 45.8337ZM24.9994 41.667C29.6521 41.667 33.5931 40.0524 36.8223 36.8232C40.0514 33.5941 41.666 29.6531 41.666 25.0003C41.666 20.3475 40.0514 16.4066 36.8223 13.1774C33.5931 9.94824 29.6521 8.33366 24.9994 8.33366C20.3466 8.33366 16.4056 9.94824 13.1764 13.1774C9.94727 16.4066 8.33268 20.3475 8.33268 25.0003C8.33268 29.6531 9.94727 33.5941 13.1764 36.8232C16.4056 40.0524 20.3466 41.667 24.9994 41.667Z' fill='%233D3D3D'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.service .wrapper .list ul li.rec a .inner::before {
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_49_286' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='50' height='50'%3E%3Crect width='50' height='50' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_49_286)'%3E%3Cpath d='M10.4167 43.7497C9.27083 43.7497 8.28993 43.3417 7.47396 42.5257C6.65799 41.7097 6.25 40.7288 6.25 39.583V10.4163C6.25 9.27051 6.65799 8.28961 7.47396 7.47363C8.28993 6.65766 9.27083 6.24967 10.4167 6.24967H19.1667C19.6528 4.99967 20.4167 3.99273 21.4583 3.22884C22.5 2.46495 23.6806 2.08301 25 2.08301C26.3194 2.08301 27.5 2.46495 28.5417 3.22884C29.5833 3.99273 30.3472 4.99967 30.8333 6.24967H39.5833C40.7292 6.24967 41.7101 6.65766 42.526 7.47363C43.342 8.28961 43.75 9.27051 43.75 10.4163V39.583C43.75 40.7288 43.342 41.7097 42.526 42.5257C41.7101 43.3417 40.7292 43.7497 39.5833 43.7497H10.4167ZM25 8.85384C25.4514 8.85384 25.8247 8.70627 26.1198 8.41113C26.4149 8.11599 26.5625 7.74273 26.5625 7.29134C26.5625 6.83995 26.4149 6.46669 26.1198 6.17155C25.8247 5.87641 25.4514 5.72884 25 5.72884C24.5486 5.72884 24.1753 5.87641 23.8802 6.17155C23.5851 6.46669 23.4375 6.83995 23.4375 7.29134C23.4375 7.74273 23.5851 8.11599 23.8802 8.41113C24.1753 8.70627 24.5486 8.85384 25 8.85384ZM10.4167 37.1872C12.2917 35.3469 14.4705 33.8972 16.9531 32.8382C19.4358 31.7792 22.1181 31.2497 25 31.2497C27.8819 31.2497 30.5642 31.7792 33.0469 32.8382C35.5295 33.8972 37.7083 35.3469 39.5833 37.1872V10.4163H10.4167V37.1872ZM25 27.083C27.0139 27.083 28.7326 26.3712 30.1562 24.9476C31.5799 23.524 32.2917 21.8052 32.2917 19.7913C32.2917 17.7775 31.5799 16.0587 30.1562 14.6351C28.7326 13.2115 27.0139 12.4997 25 12.4997C22.9861 12.4997 21.2674 13.2115 19.8438 14.6351C18.4201 16.0587 17.7083 17.7775 17.7083 19.7913C17.7083 21.8052 18.4201 23.524 19.8438 24.9476C21.2674 26.3712 22.9861 27.083 25 27.083ZM14.5833 39.583H35.4167V39.0622C33.9583 37.8469 32.3438 36.9354 30.5729 36.3278C28.8021 35.7202 26.9444 35.4163 25 35.4163C23.0556 35.4163 21.1979 35.7202 19.4271 36.3278C17.6562 36.9354 16.0417 37.8469 14.5833 39.0622V39.583ZM25 22.9163C24.1319 22.9163 23.3941 22.6125 22.7865 22.0049C22.1788 21.3972 21.875 20.6594 21.875 19.7913C21.875 18.9233 22.1788 18.1854 22.7865 17.5778C23.3941 16.9702 24.1319 16.6663 25 16.6663C25.8681 16.6663 26.6059 16.9702 27.2135 17.5778C27.8212 18.1854 28.125 18.9233 28.125 19.7913C28.125 20.6594 27.8212 21.3972 27.2135 22.0049C26.6059 22.6125 25.8681 22.9163 25 22.9163Z' fill='%233D3D3D'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.service .wrapper .list ul li a .inner strong {
    font-size: 30px;
    font-weight: 600;
}
.service .wrapper .list ul li a .inner p {
    font-weight: 600;
    font-size: 15px;
}
@media screen and (max-width: 1024px){
    .service {
        padding: 90px 0 120px 0;
    }
    .service .wrapper .list ul li {
        width: calc(33.3% - 10px);
    }
    .service .wrapper .list ul li a {
        height: 115px;
    }
    .service .wrapper .list ul li a .inner {
        /* margin: 0px 90px 0px 47px; */
        padding: 70px 70px 0 72px;
    }
    .service .wrapper .list ul li a .inner::before {
        left: 50%;
        top: 26px;
        width: 40px;
        height: 40px;
        transform: translate(-50%, 0);
    }
    .service .wrapper .list ul li a .inner strong {
        font-size: 20px;
    }
    .service .wrapper .list ul li a .inner h3 {
        display: none;
    }
}
@media screen and (max-width: 768px){
    .service {
        padding: 46px 0 56px 0;
    }
    .service .wrapper .list ul li a .inner {
        /* margin: 0px 90px 0px 47px; */
        padding: 70px 0 0 2px;
    }
    .service .wrapper .list ul li a .inner strong {
        font-size: 13px;
    }
}