@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

/*
    각각의 서브 콘텐츠 페이지 내용을 코딩, 이름이 겹치면 안됨
    규칙 cts_ 페이지명 감싸서 절대 다른 페이지와 이름이 겹치지 안도록 함
*/


/*회사소개 - CEO 인사말*/
.cts_ceo {
    margin: 47px 0 102px 0;
}
.cts_ceo .wrapper {
    display: flex;
    align-items: center;
}
.cts_ceo .photo {
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    width: 100%;
    height: 100%;
    width: 650px;
}
.cts_ceo .photo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.cts_ceo .txt_wrap {
    width: 100%;
    width: calc(100% - 650px)
}
.cts_ceo .txt_wrap .title {
    font-size: 28px;
    font-weight: bold;
    line-height: 1.8;
    margin-bottom: 36px;
}
.cts_ceo .txt_wrap .sign {
    margin-top: 47px;
    display: flex;
}
@media screen and (max-width: 1024px){
    .cts_ceo {
        margin: 47px 0 102px 0;
    }
    .cts_ceo .wrapper {
        display: block;
        align-items: center;
    }
    .cts_ceo .photo {
        width: auto;
        margin: 0 auto;
    }
    .cts_ceo .photo img {
        height: 450px;
    }
    .cts_ceo .txt_wrap {
        width: auto
    }
    .cts_ceo .txt_wrap .title {
        font-size: 15px;
    }
}
