@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

/*
    각각의 서브 콘텐츠 페이지 내용을 코딩, 이름이 겹치면 안됨
    규칙 cts_ 페이지명 감싸서 절대 다른 페이지와 이름이 겹치지 안도록 함
*/


/*회사소개 - CEO 인사말*/
.cts_ceo {
    margin: 47px 0 102px 0;
}
.cts_ceo .wrapper {
    display: flex;
    align-items: center;
}
.cts_ceo .photo {
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    width: 100%;
    height: 100%;
    width: 650px;
}
.cts_ceo .photo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.cts_ceo .txt_wrap {
    width: 100%;
    width: calc(100% - 650px)
}
.cts_ceo .txt_wrap .title {
    font-size: 28px;
    font-weight: bold;
    line-height: 1.8;
    margin-bottom: 36px;
}
.cts_ceo .txt_wrap .sign {
    margin-top: 47px;
    display: flex;
}
@media screen and (max-width: 1024px){
    .cts_ceo {
        margin: 47px 0 102px 0;
    }
    .cts_ceo .wrapper {
        display: block;
        align-items: center;
    }
    .cts_ceo .photo {
        width: auto;
        margin: 0 auto;
    }
    .cts_ceo .photo img {
        height: 450px;
    }
    .cts_ceo .txt_wrap {
        width: auto
    }
    .cts_ceo .txt_wrap .title {
        font-size: 15px;
    }
}

/*회사소개 - 연혁*/
.cts_history {
    margin-top: 60px;
    margin-bottom: 145px;
}
.cts_history .tap_area .tap_btn ul {
    display: flex;
    position: relative;
}
.cts_history .tap_area .tap_btn ul::before {
    position: absolute;
    left: 0;
    top: 80px;
    border: 2px solid #f4f4f4;
    width: 100%;
    content: "";
}
.cts_history .tap_area .tap_btn ul li button {
    padding: 25px 35px;
    font-size: 25px;
    color: #3d3d3d;
    white-space: nowrap;
}
.cts_history .tap_area .tap_btn ul li.active {
    position: relative;
}
.cts_history .tap_area .tap_btn ul li.active::after {
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    content: "";
    border: 2px solid #EA0C14;
}
.cts_history .tap_area .tap_btn ul li.active button ,
.cts_history .tap_area .tap_btn ul li:hover button{
    color: #EA0C14;
    font-weight: bold;
}
.cts_history .tap_area .tap_cnt div[role="tabpanel"] .history_tit { /*div중에서 role="tabpanel" 속성을 가진 거 선택*/
    height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 300px;
    text-align: center;
    background-image: url(../images/contents/history_tit_bg1.png);
    color: #fff;
}
.cts_history .tap_area .tap_cnt div[role="tabpanel"] .history_tit.bg1 {
    background-image: url(../images/contents/history_tit_bg1.png);
}
.cts_history .tap_area .tap_cnt div[role="tabpanel"] .history_tit.bg2 {
    background-image: url(../images/contents/history_tit_bg2.png);
}
.cts_history .tap_area .tap_cnt div[role="tabpanel"] .history_tit.bg3 {
    background-image: url(../images/contents/history_tit_bg3.png);
}
.cts_history .tap_area .tap_cnt div[role="tabpanel"] .history_tit.bg4 {
    background-image: url(../images/contents/history_tit_bg4.png);
}
.cts_history .tap_area .tap_cnt div[role="tabpanel"] .history_tit h3 {
    font-size: 40px;
    margin-top: 30px;
}
.cts_history .tap_area .tap_cnt div[role="tabpanel"] .history_tit strong {
    font-weight: 700;
    display: block;
}
.cts_history .history_list {
    margin-top: 82px;
    position: relative;
}
.cts_history .history_list::before {
    position: absolute;
    left: 50%;
    top: 61px;
    width: 5px;
    height: calc(100% - 61px);
    background-color: #f4f4f4;
    content: "";
}
.cts_history .history_list .year_wrap {
    margin-bottom: 67px;
}
.cts_history .history_list .year_wrap:last-child {
    margin-bottom: none;
    position: relative;
}
.cts_history .history_list .year_wrap:last-child::before{
    position: absolute;
    left: 50%;
    top: 14px;
    width: 5px;
    height: calc(100% - 14px);
    background-color: #fff;
    content: "";
}
.cts_history .history_list .year_wrap.right {
    padding-left: calc(50% + 56px);
}
.cts_history .history_list .year_wrap.left {
    padding-right: calc(50% + 56px);
}
.cts_history .history_list .year_wrap.left {
    text-align: right;
}
.cts_history .history_list .year_wrap.left ul li {
    flex-direction: row-reverse; /*좌우반전*/
}
.cts_history .history_list .year_wrap h4 {
    font-size: 35px;
    color: #EA0C14;
    font-weight: 600;
    position: relative;
}
.cts_history .history_list .year_wrap h4::before {
    position: absolute;
    left: -61px;
    top: 14px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #EA0C14;
    content: "";
}
.cts_history .history_list .year_wrap.left h4::before {
    left: auto; /*취소*/
    right: -66px;
}
.cts_history .history_list .year_wrap.left ul li {
    flex-direction: row-reverse;
}
.cts_history .history_list .year_wrap ul li {
    margin-top: 14px;
    display: flex;
    color: #3d3d3d;
    margin-bottom: 14px;
}
.cts_history .history_list .year_wrap ul li strong {
    width: calc(100% - 9em);
}
.cts_history .history_list .year_wrap ul li span {
    width: 9em;
}
@media screen and (max-width: 1024px){
    .cts_history {
        margin-top: 40px;
        margin-bottom: 74px;
    }
    .cts_history .tap_area .tap_btn {
        overflow-x: auto; /*스크롤바 생성*/
        overflow-y: hidden; /*세로 스크롤바 없앰*/
    }
    .cts_history .tap_area .tap_btn ul::before {
        top: 54px;
    }
    .cts_history .tap_area .tap_btn ul li button {
        padding: 14px 11px;
        font-size: 17px;
    }
    .cts_history .tap_area .tap_btn ul li.active::after {
        top: 54px;
    }
    .cts_history .tap_area .tap_btn ul li.active button ,
    .cts_history .tap_area .tap_btn ul li:hover button{
        color: #EA0C14;
        font-weight: bold;
    }
    .cts_history .tap_area .tap_cnt div[role="tabpanel"] .history_tit { /*div중에서 role="tabpanel" 속성을 가진 거 선택*/
        height: 134px;
        line-height: 134px;
    }
    .cts_history .tap_area .tap_cnt div[role="tabpanel"] .history_tit h3 {
        font-size: 20px;
        margin-top: 20px;
    }
    .cts_history .history_list {
        margin-top: 29px;
    }
    .cts_history .history_list::before {
        left: 7px;
        top: 7px;
        height: calc(100% - 7px);
    }
    .cts_history .history_list .year_wrap:last-child {
        margin-bottom: none;
        position: relative;
    }
    .cts_history .history_list .year_wrap:last-child::before{
        left: 7px;
        top: 7px;
        width: 5px;
        height: calc(100% - 7px);
    }
    .cts_history .history_list .year_wrap.right {
        padding-left: 25px;
    }
    .cts_history .history_list .year_wrap.left {
        padding-left: 25px;
        padding-right: 0;
        text-align: left;
    }
    .cts_history .history_list .year_wrap.left ul li {
        flex-direction: row; /*좌우반전 원상복귀*/
    }
    .cts_history .history_list .year_wrap h4 {
        font-size: 17px;
    }
    .cts_history .history_list .year_wrap h4::before {
        position: absolute;
        left: -19px;
        top: 7px;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: #EA0C14;
        content: "";
    }
    .cts_history .history_list .year_wrap.left h4::before {
        left: -19px; 
        right: auto;/*취소*/
    }
    .cts_history .history_list .year_wrap ul li {
        margin-top: 9px;
        margin-bottom: 9px;
    }
    .cts_history .history_list .year_wrap ul li strong {
        width: calc(100% - 9em);
    }
    .cts_history .history_list .year_wrap ul li span {
        width: 9em;
    }
}