@import url(default.css);
@import url(fonts.css);
@import url(common.css);


.biz h1 {
    margin: 164px 0 0 0;
    font-size: 25px;
    font-weight: 600;
    color: #1d1d1d;
}
.biz ul {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0 0 ;
}
.biz ul li {
    width: 297px;
}
.biz ul li a {
    display: block;
    position: relative; /*h2, p 정렬의 기준이 되어줌*/
    color: rgba(255, 255, 255, 0.8);
}
.biz ul li a .photo {
    overflow: hidden;/*이미지가 넘치는 것 자르기*/
    font-size: 0;
    line-height: 0;
    border-radius: 30px;
}
.biz ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover; /*감싸는 photo의 넓이와 이미지를 꽉차고 비율에 맞게 리사이즈*/
    transition: 0.5s;
}
.biz ul li a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
.biz ul li a h2 {
    position: absolute;
    left: 40px;
    top: 108px;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}
.biz ul li a p {
    position: absolute;
    left: 40px;
    top: 154px;
    width: calc(100% - 80px); /*p의 100%는 감싸는 a의 넓이 그 왼쪽과 오른쪽의 여백을 뺀 나머지 전체를 넓이를 주는 방식*/
}
@media screen and (max-width: 640px){
    .biz h1 {
        margin: 50px 0 0 0;
        font-size: 17px;
    }
    .biz ul {
        flex-wrap: wrap;
        margin: 32px 0 0 0;
    }
    .biz ul li {
        width: calc(50% - 8px);
        /* width: calc(33.33% - 10.66px); -> 3개짜리  */
        /*100% 나누기 한줄에들어가는 li의 갯수 -> 100% / 2 = 50%
        한줄의 들어가는 여백의 합 나누기 li의 갯수 -> 16px / 2 = 8px*/
    }
    .biz ul li a {
        color: rgba(61, 61, 61, 0.8);
    }
    .biz ul li a .photo {
        /* height: 157px; 높이를 주면 사이즈 줄였을때 사진이 높이에 맞춰 넓이만 줄어듬*/
        border-radius: 10px;
    }
    .biz ul li a h2 {
        position: relative; /*해제*/
        left: auto;
        top: auto;
        font-size: 17px;
        color: #2d2d2d;
        margin: 5px;
    }
    .biz ul li a p {
        position: relative;
        left: auto;
        top: auto;
        width: auto; 
        margin: 0 0 31px 0;
    }
}
.business {
    margin: 55px 0 0 0;
}
.business h1 {
    margin: 164px 0 0 0;
    font-size: 25px;
    font-weight: 600;
    color: #1d1d1d;
}
.business ul {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0 0;
}
.business ul li {
    width: calc(25% - 18px);
}
.business ul li a {
    background-position: center center ;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    height: 306px;
    border-radius: 30px;
    padding: 108px 40px 0 40px;
}
.business ul li a:hover {
    background-size: 120% auto; /*단 transition 이 적용 되지 않음*/
}
.business ul li.biz1 a {
    background-image: url(../images/biz_1.png);
}
.business ul li.biz2 a {
    background-image: url(../images/biz_2.png);
}
.business ul li.biz3 a {
    background-image: url(../images/biz_3.png);
}
.business ul li.biz4 a {
    background-image: url(../images/biz_4.png);
}
.business ul li a h2 {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}
@media screen and (max-width: 640px){
    .business {
        margin: 20px 0 0 0;
    }
    .business h1 {
        margin: 50px 0 0 0;
        font-size: 17px;
    }
    .business ul {
        display: block;
        margin: 20px 0 0 0;
    }
    .business ul li {
        width: 100%;
        margin: 0 0 9px 0;
    }
    .business ul li a {
        height: auto; /*내부 콘텐츠의 높이만큼 들어가야함*/
        border-radius: 10px;
        padding: 39px 24px 36px 23px;
    }
    .business ul li a h2 {
        font-size: 17px;
    }
}
.gallery {
    margin: 164px 0 0 0;
}
.gallery ul {
    display: flex;
    justify-content: space-between;
}
.gallery ul li {
    width: calc(33.33% - 16px);
    /*중간 여백 24px에 두개 - 48 나누기 3*/
}
.gallery ul li a .photo {
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}
.gallery ul li a .photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
@media screen and (max-width: 640px){
    .gallery ul li {
        width: calc(33.33% - 10.66px);
        /*중간 여백 24px에 두개 - 32 나누기 2*/
    }
}
.news {
    margin: 164px 0 0 0;
}
.news ul {
    display: flex;
    justify-content: space-between;
}
.news ul li {
    width: calc(33.33% - 16px);
}
.news ul li a .photo {
    height: 300px;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}
@media screen and (max-width: 640px){
    .news {
        margin: 50px 0 0 0;
    }
    .news ul li {
        width: calc(33.33% - 10.66px);
    }
    .news ul li a .photo {
        height: 100px;
    }
}
.popup {
    margin: 100px 0 0 0;
}
.popup .wrapper {
    position: relative;
}
.popup .swiper { height:404px } /* 팝업의 높이가 됨 */
.popup .swiper-slide img { display:block; width:100%; height:100%; object-fit:cover; } 

.visual {
    margin: 100px 0;
    position: relative; /*팝업을 감싼는 요소는 포지션 렐러티브 주기*/
}
.visual ul li {
    height: 800px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.visual ul li.bg1 {
    background-image: url(../images/1.png);
}
.visual ul li.bg2 {
    background-image: url(../images/2.png);
}
.visual ul li.bg3 {
    background-image: url(../images/3.png);
}
.visual ul li h2 {
    font-size: 40px;
    font-weight: 600;
    margin: 243px 0 0 335px;
}
.visual ul li p{
    font-size: 20px;
    margin: 0 0 0 335px;
}
.visual .btn-prev,
.visual .btn-next {
    position: absolute; /*swiper를 기준으로 정렬*/
    top:356px;
    z-index: 10; /*swiper안에는 position값이 많이 적용됨, position 끼리는 서로 겹침, 우선순위를 높여주기 위한 위아래 값을 줌*/
}
.visual .btn-prev {
    left: 17px;
    left: 1%;
}
.visual .btn-next {
    right: 17px;
    right: 1%;
}
.visual .btn-prev i,
.visual .btn-next i {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
}
.visual .btn_wrap {
    position: absolute;
    left: 0;
    bottom: 20px;
    z-index: 10;
    width: 100%; /*기준이 되는 swiper와 넓이가 같아짐*/ 
    display: flex;
    justify-content: center;
    align-items: center; /*좌우로 정렬한 요소끼리 위아래 가운데 정렬*/
}
.visual .btn_wrap .paging {
    width: auto; /*swiper 에서 paging에 넓이 100%를 줌*/
}

.visual .btn_wrap .paging .swiper-pagination-bullet { /*기본스타일*/
    width: 20px;
    height: 20px;
    background: transparent;
    opacity: 1;
    border: 2px solid #fff;
}
.visual .btn_wrap .paging .swiper-pagination-bullet-active {
    background-color: #fff;
}
.visual .btn_wrap button i {
    color: rgba(255, 255, 255, 0.8);
    font-size: 29px;
    font-weight: 300;
}
.visual .stop {
    
}
@media screen and (max-width: 640px){
    .visual ul li {
        height: 360px;
    }
    .visual ul li h2 {
        font-size: 17px;
        margin: 142px 0 0 24px;
    }
    .visual ul li p{
        font-size: 13px;
        margin: 0 0 0 24px;
    }
    .visual .btn-prev,
    .visual .btn-next {
        display: none;
    }
    .visual .btn_wrap {
        bottom: 15px;
    }
    .visual .btn_wrap .paging .swiper-pagination-bullet { /*기본스타일*/
        width: 15px;
        height: 15px;
    }
    .visual .btn_wrap button i {
        font-size: 20px;
    }
}
.book {
    margin: 50px 0 0 0;
}
.book ul li {
    width: 297px;
}
.book ul li a .photo {
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}
.book ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.book ul li a h2 {
    margin: 16px 0;
    font-size: 20px;
    font-family: 600;
    text-align: center;
    color: #2d2d2d;
}
@media screen and (max-width: 640px){
    .book ul li {
        width: 200px;
    }
}
.sns {
    margin: 50px 0 0 0;
}
.sns ul li a .photo {
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}
.sns ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sns ul li a h2 {
    margin: 16px 0;
    font-size: 20px;
    font-family: 600;
    text-align: center;
    color: #2d2d2d;
}
