/* 태그의 스타일 초기화 - 브라우저가 태그에 준 스타일을 모두 삭제 */
* {
    padding: 0;
    margin: 0; /* 모든 태그의 여백삭제 */
    box-sizing: border-box; /* width, padding 을 같이주면 width 가 늘어나는 현상을 막음 */
}
li { /* ul li에 앞에 동그라미 삭제 */
    list-style: none;
}
h1, h2, h3, h4, h5, h6, strong {/* 글자크기가 커지고, 두꺼워지는 스타일 삭제 */
    font-size: inherit; /* 상위요소에서 정의된대로 상속받아라 inherit */
    font-weight: inherit;
}
em, address { /* 기울임 취소 */
    font-style: normal;
}
a { /* 파란색에 underline 취소 */
    color: inherit; /* 상위요소에서 정의된대로 상속받아라 inherit - 브라우저가 주는 스타일 적용안하기 */
    text-decoration: none;/* 밑줄삭제 */
}
a img { /* 이미지를 a태그로 감싸면 이미지에 파란 테두리가 생겼었음 그걸 삭제 */
    border: 0;
}