@import url(default.css); /* default.css 불러오기 */

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url(../fonts/Pretendard-ExtraBold.woff2) format('woff2'), url(../fonts/Pretendard-ExtraBold.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url(../fonts/Pretendard-Regular.woff2) format('woff2'), url(../fonts/Pretendard-Regular.woff) format('woff');
}
html, body {   
    font-family: "Pretendard", sans-serif; /* sans-serif 고딕체라는 의미, font-family 사용하는 서체명은 font-face에 사용한 이름으로 사용 */
    font-size: 15px;
    color: #3d3d3d;
    line-height: 1.4;
    font-weight: 400;
    word-break: keep-all;
    letter-spacing: 0em;
}
.wrapper {/* 홈페이지 넓이를 제한하고 가운데 정렬 */
    width: 1260px;
    margin: 0 auto;    
}
header {
    height: 100px;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
}
header .logo {
    margin: 24px 0 0 0;
}
header .gnb ul {
    display: flex;
}
header .gnb ul li a {
    font-size: 20px;
    color: #1d1d1d;
    line-height: 100px;/* header의 높이와 동일한 값 */
    /* 행간을 100px를 주면 높이 100px 안에 글자가 위아래 가운데로 정렬 */
    display: block;/* inline 요소인 a 를 blocㅏ 요소로 변경 */
    padding: 0 20px; /* 위아래 0 좌우20px / 커서를 올리면 클릭 모양이 나오게하는게 padding */
}
header .gnb ul li a:hover {/* 마우스를 오버했을때 스타일 */
    font-size: 22px;
    color: #005fd1;
    font-weight: 700;
}
.visual {
    background: url(../images/visual_bg.png) no-repeat center center / cover;
    height: 800px;
    color: #fff;
    text-align: center;
}
.visual h2 { 
    font-weight: 700;
    font-size: 70px;
    line-height: 1;
    padding: 334px 0 10px 0;
}
.visual p {
    line-height: 1;
    font-size: 20px;
}
.biz .tit {
    text-align: center;
}
.biz .tit h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.4;
    color: #1d1d1d;
    margin: 134px 0 0 0;
}
.biz .tit p {
    margin: 0 0 54px 0;
}